table {
  width: 100%;
}

.cell-wrapper {
  display: flex;
}

.cell-content {
  padding-top: 4px;
}

.button {
  cursor: pointer;
}

tr.api-detail-row {
  height: 0;
}

.example-element-row td {
  border-top-width: 0;
  border-bottom-width: 0;
}

.api-detail {
  overflow: hidden;
  display: flex;
}

.expand-content {
  padding: 24px;
}

.expandedTd {
  border-top-width: 0;
  border-bottom-width: 0;
}

.displayed {
  border-bottom-width: 1px;
}

.expanded-header {
  padding-bottom: 10px;
}

:host ::ng-deep .mat-sort-header-button:hover,
:host ::ng-deep .mat-sort-header-button:focus {
  background-color: inherit;
  color: inherit;
}
