<div *ngIf="apiData.length === 0" xmlns="http://www.w3.org/1999/html">
  <p>No APIs available.</p>
</div>
<table *ngIf="apiData.length > 0" matSort matSortStart="desc" (matSortChange)="sortData($event)" mat-table [dataSource]="apiData" multiTemplateDataRows>
  <ng-container matColumnDef="api">
    <th mat-header-cell mat-sort-header="api" *matHeaderCellDef>API</th>
    <td mat-cell *matCellDef="let element">
      <mat-icon matTooltip="{{this.computeStatusText(element)}}" class="status" [ngClass]="element.status">brightness_1</mat-icon>
      <span class="apiName">{{element.apiOrganization}} / <b>{{element.apiName}}</b></span>
    </td>
  </ng-container>
  <ng-container matColumnDef="publicAPI">
    <th mat-header-cell mat-sort-header="publicAPI" *matHeaderCellDef>Access</th>
    <td mat-cell *matCellDef="let element"><mat-icon matTooltip="{{this.computeApiIsPublicText(element.publicAPI)}}" >{{getApiIsPublicIcon(element.publicAPI)}}</mat-icon> </td>
  </ng-container>
  <ng-container matColumnDef="apiVersion">
    <th mat-header-cell mat-sort-header="version" *matHeaderCellDef>API Version</th>
    <td mat-cell *matCellDef="let element"> {{element.apiVersion}} </td>
  </ng-container>
  <ng-container matColumnDef="tryApi">
    <th mat-header-cell *matHeaderCellDef>Try API</th>
    <td mat-cell *matCellDef="let element">
      <mat-icon class="button" *ngIf="element.status === viewStatus.ACTIVE && element.definitionType !== null && element.definitionType !== 'None'" (click)="this.openSwaggerView(element)" matTooltip="Try the API">play_arrow</mat-icon>
      <mat-icon class="button" *ngIf="element.status === viewStatus.INACTIVE && element.definitionType !== null && element.definitionType !== 'None'" (click)="this.openSwaggerView(element)" matTooltip="View the API">remove_red_eye</mat-icon>
    </td>
  </ng-container>
  <ng-container matColumnDef="options">
    <th mat-header-cell *matHeaderCellDef>Options</th>
    <td mat-cell *matCellDef="let element">
      <mat-icon class="button" (click)="this.copyEndpointToClipboard($event, element)" matTooltip="Copy endpoint to clipboard">file_copy</mat-icon>
      <mat-icon class="button" *ngIf="element.definitionType !== 'None'" (click)="this.downloadDefinitionFile($event, element)" matTooltip="Download definition">save_alt</mat-icon>
    </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnHeaders.length" class="expandedTd" [ngClass]="isExpanded(element) ? 'displayed': 'hidden'">
      <div class="api-detail"
           [@detailExpand]="isExpanded(element) ? 'expanded' : 'collapsed'">
        <div class="expand-content">
          <div class="expanded-header">API Endpoint</div>
          <div>{{element.endpoint}}</div>
        </div>
        <div  *ngIf="!element.publicAPI" class="expand-content">
          <div class="expanded-header">API Key</div>
          <div>{{element.apikey}}</div>
        </div>
        <div *ngIf="!element.publicAPI" class="expand-content">
          <div class="expanded-header">Client</div>
          <div>{{element.clientOrganization}} / {{element.clientName}}</div>
        </div>
        <div *ngIf="!element.publicAPI" class="expand-content">
          <div class="expanded-header">Client Version</div>
          <div>{{element.clientVersion}}</div>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnHeaders"></tr>
  <tr mat-row *matRowDef="let listElement; columns: columnHeaders;" (click)="isExpanded(listElement)  ? collapse(listElement) : expand(listElement)" class="clickable"></tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="api-detail-row"></tr>
</table>
