<table mat-table [dataSource]="apiData">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>API Name</th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>
  <ng-container matColumnDef="version">
    <th mat-header-cell *matHeaderCellDef>API Version</th>
    <td mat-cell *matCellDef="let element"> {{element.version}} </td>
  </ng-container>
  <ng-container matColumnDef="organization">
    <th mat-header-cell *matHeaderCellDef>API Organization</th>
    <td mat-cell *matCellDef="let element"> {{element.organizationName}} </td>
  </ng-container>
  <ng-container matColumnDef="endpoint">
    <th mat-header-cell *matHeaderCellDef>Endpoint</th>
    <td mat-cell *matCellDef="let element"> {{element.endpoint}} </td>
  </ng-container>

  <ng-container matColumnDef="options">
    <th mat-header-cell *matHeaderCellDef>Options</th>
    <td mat-cell *matCellDef="let element"> <a [routerLink]="element.swaggerURL">Swagger</a> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnHeaders"></tr>
  <tr mat-row *matRowDef="let row; columns: columnHeaders;"></tr>
</table>
