p {
  text-align: center;
  vertical-align: bottom;
}

.cell-wrapper {
  display: flex;
}

.cell-content {
  padding-top: 4px;
}

.button {
  z-index: 1;
}

.button, .clickable {
  cursor: pointer;
}

tr.api-detail-row {
  height: 0;
}

.example-element-row td {
  border-top-width: 0;
  border-bottom-width: 0;
}

.api-detail {
  overflow: hidden;
  display: flex;
}

.expand-content {
  padding: 24px;
}

.expandedTd {
  border-top-width: 0;
  border-bottom-width: 0;
}

.displayed {
  border-bottom-width: 1px;
}

.expanded-header {
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px;
  padding-bottom: 10px;
}

:host ::ng-deep .mat-sort-header-button {
  margin-left: 0px;
}

:host ::ng-deep .mat-sort-header-button:hover,
:host ::ng-deep .mat-sort-header-button:focus {
  background-color: inherit;
  color: inherit;
}

.apiName {
  padding-left: 10px;
}

.status {
  font-size: 12px;
  display: contents;
}

.Retired {
  color: var(--branding-status-retired);
}

.Inactive {
  color: var(--branding-status-inactive);
}

.Active {
  color: var(--branding-status-active);
}
