<table mat-table [dataSource]="apiData">
  <ng-container matColumnDef="api">
    <th mat-header-cell *matHeaderCellDef>API</th>
    <td mat-cell *matCellDef="let element"> {{element.api}} </td>
  </ng-container>
  <ng-container matColumnDef="version">
    <th mat-header-cell *matHeaderCellDef>API Version</th>
    <td mat-cell *matCellDef="let element"> {{element.version}} </td>
  </ng-container>
  <ng-container matColumnDef="clientVersion">
    <th mat-header-cell *matHeaderCellDef>Client Version</th>
    <td mat-cell *matCellDef="let element"> {{element.clientVersion}} </td>
  </ng-container>
  <ng-container matColumnDef="endpoint">
    <th mat-header-cell *matHeaderCellDef>Endpoint</th>
    <td mat-cell *matCellDef="let element"><span class="cell-wrapper"><mat-icon class="button" (click)="this.copyEndpointToClipboard(element)" matTooltip="Copy to clipboard">file_copy</mat-icon> <div class="cell-content">{{element.endpoint}}</div></span></td>
  </ng-container>
  <ng-container matColumnDef="apikey">
    <th mat-header-cell *matHeaderCellDef>API Key</th>
    <td mat-cell *matCellDef="let element"> {{element.apikey}} </td>
  </ng-container>
  <ng-container matColumnDef="options">
    <th mat-header-cell *matHeaderCellDef>Options</th>
    <td mat-cell *matCellDef="let element"> <mat-icon class="button" *ngIf="element.swaggerDefinitionType != null" (click)="this.openSwaggerView(element)" matTooltip="Test the API">play_arrow</mat-icon> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnHeaders"></tr>
  <tr mat-row *matRowDef="let row; columns: columnHeaders;"></tr>
</table>
