<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  version="2.5">

  <listener>
    <listener-class>org.overlord.apiman.rt.war.listeners.WarGatewayBootstrapper</listener-class>
  </listener>

  <!-- Authentication Filter -->
  <filter>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>org.overlord.apiman.common.servlet.AuthenticationFilter</filter-class>
    <init-param>
      <param-name>signatureRequired</param-name>
      <param-value>false</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- Locale Filter -->
  <filter>
    <filter-name>LocaleFilter</filter-name>
    <filter-class>org.overlord.commons.i18n.server.filters.LocaleFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LocaleFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- Gateway Servlet -->
  <servlet>
    <servlet-name>WarGatewayServlet</servlet-name>
    <servlet-class>org.overlord.apiman.rt.war.servlets.WarGatewayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WarGatewayServlet</servlet-name>
    <url-pattern>/gateway/*</url-pattern>
  </servlet-mapping>

</web-app>