<h2>Policies</h2>

<mat-grid-list cols="2" rowHeight="4:1">
  <mat-grid-tile colspan="1">
    <mat-card>
      <mat-card-header>
        <img mat-card-avatar alt="Logo" src="https://github.com/apiman/apiman/raw/master/manager/ui/war/plugins/api-manager/img/about-logo.png">
        <mat-card-title>Rate Limiting Policy</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>You will be rate limited to <b>{{rateLimitPolicy.limit}}</b> requests <b>per {{rateLimitPolicy.unit}}.</b></p>
        <p>The following headers in the response contain useful information relating to rate limit</p>
        <ul>
          <li><b>X-RateLimit-Limit:</b> Rate limit allowance (per time period)</li>
          <li><b>X-RateLimit-Remaining:</b> Rate limit allowance remaining</li>
          <li><b>X-RateLimit-Reset:</b> Time until next rate limit reset</li>
        </ul>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile colspan="1">
    <mat-card>
      <mat-card-header>
        <img mat-card-avatar alt="Logo" src="https://github.com/apiman/apiman/raw/master/manager/ui/war/plugins/api-manager/img/about-logo.png">
        <mat-card-title>Transfer Quota Policy</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>You will be rate limited to <b>{{quotaLimitPolicy.limit}}</b> requests <b>per {{quotaLimitPolicy.unit}}.</b></p>
        <p>The following headers in the response contain useful information relating to quota limit</p>
        <ul>
          <li><b>X-TransferQuota-Limit:</b> Quota allowance (per time period)</li>
          <li><b>X-TransferQuota-Remaining:</b> Quota remaining</li>
          <li><b>X-TransferQuota-Reset:</b> Time until quota reset</li>
        </ul>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
