version: 2

updates:
# Master
  - package-ecosystem: "maven"
    open-pull-requests-limit: 2
    target-branch: "master"
    directory: "/"
    schedule:
      interval: "daily"
    labels:
      - "V: Apiman 3"
      - "dependency"
      - "java"
  
  - package-ecosystem: "maven"
    open-pull-requests-limit: 2
    target-branch: "master"
    directory: "/parent"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: org.eclipse.jetty:jetty-*
        versions:
          - "<10"
    labels:
      - "V: Apiman 3"
      - "dependency"
      - "java"
      
  - package-ecosystem: "npm"
    open-pull-requests-limit: 2
    target-branch: "master"
    directory: "manager/ui/war"
    schedule:
      interval: "daily"
    labels:
      - "dependency"
      - "javascript"

  - package-ecosystem: "npm"
    open-pull-requests-limit: 2
    target-branch: "master"
    directory: "portal/ui"
    schedule:
      interval: "daily"
    labels:
      - "dependency"
      - "javascript"
