<mat-card class="plan-card">
  <mat-card-header class="card-header">
    <mat-card-title class="card-header-content">{{ plan.title }}</mat-card-title>
    <mat-card-subtitle class="card-header-content">{{ plan.subtitle }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <ng-container *ngFor="let policy of plan.policies">
        <mat-list-item>
          <p>
            {{ policy.title }}
            <span class="right">{{ policy.configuration }}</span>
          </p>
        </mat-list-item>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-list>
  </mat-card-content>
  <mat-card-actions id="plan-card-actions">
    <button id="sign-up-button" mat-raised-button color="primary" [routerLink]="['/api-signup', orgId, apiId]">
      SIGN UP
    </button>
  </mat-card-actions>
</mat-card>
