mat-card {
  margin-top: 30px;
}

mat-card-actions {
  text-align: center;
  margin-bottom: unset;
}

::ng-deep .mat-grid-tile-content{
  align-items: flex-start !important;
}

p {
  width: 100%;
}

.right{
  float: right;
}

.plan-card{
  width: 100%;
  border: 1px solid rgba(0,0,0,0.1);
}

.card-header {
  justify-content: center
}

.card-header-content {
  text-align: center;
}

#sign-up-button {
  width: 50%;
}
