
$navbar-bg-color: #c8c9cc;
$navbar-color: #6a747f;

:host {
  background: $navbar-bg-color;
  display: flex;

  padding: 19px;
  color: $navbar-color;
}

nav {
  width: 100%;
}

.logo {
  height: 20px;
  width: 170px;
}

.rightMenu {
  display: flex;
  float: right;
  text-align: right;
}

.floatRight {
  width: 100%;
  display: flex;
  float: right;
  justify-content: right;
}

mat-icon {
  margin-left: 15px;
  margin-right: 2px;
}

#header-icon {
  padding-right: 5px;
}

#app-header {
  margin-top: 3px;
}

#app-user {
  margin-top: 3px;
}

#user-icon {
}

#logout {
  cursor: pointer;
  color: darkred;
}
