<nav>
  <img class="logo" src="assets/ScheerPASLogo.svg">
  <div class="rightMenu">
    <div class="floatRight">
      <mat-icon id="header-icon">desktop_windows</mat-icon>
      <div id="app-header">Developer Portal</div>
      <div class="dropDownWrapper clickable" [matMenuTriggerFor]="menu">
        <mat-icon id="user-icon">person</mat-icon>
        <div id="app-user">{{user}}</div>
        <mat-icon id="dropDown">keyboard_arrow_down</mat-icon>
      </div>
      <mat-menu #menu="matMenu">
        <div mat-menu-item class="clickable" (click)="logout()">Logout</div>
      </mat-menu>
    </div>
  </div>
</nav>



