<div
  #heroImage
  id="hero-image"
  [ngClass]="{ 'hero-large': heroService.hero.large }"
>
  <div id="hero-overlay">
    <div #heroOverlay id="hero-text">
      <h1 class="mt-40" #heroTitle>{{ heroService.hero.title }}</h1>
      <p #heroSubtitle>{{ heroService.hero.subtitle }}</p>
    </div>
    <div id="hero-btn">
      <button mat-stroked-button color="primary" (click)="login()" *ngIf="!loggedIn; else logoutBtn" class="primary-border-color">
        Register / Login
      </button>
      <ng-template #logoutBtn>
        <button mat-stroked-button color="primary" (click)="logout()" class="primary-border-color">
          Log-Out
        </button>
      </ng-template>
    </div>
  </div>
</div>
