#hero-image
  height: 19vh
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  position: relative

#hero-text
  position: absolute
  top: 10%
  left: 3%
  padding: 2px 12px 8px 12px
  h1
    margin-top: 0
  p
    margin-bottom: 0


#hero-btn
  position: absolute
  bottom: 10%
  left: 3%

.hero-large
  min-height: 32vh

h1
  margin: 0

p
  margin-top: 0.2em
