#hero-image{
  height: 19vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#hero-text {
  position: absolute;
  top: 22px;
  left: 3%;
  padding: 2px 12px 8px 12px;
  h1 {
    margin-top: 0
  }
  p {
    margin-bottom: 0
  }
}

#hero-btn {
  position: absolute;
  top: 22px;
  right: 3%;
}

#login-btn,#logout-btn{
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  color: white;
  border: 1px solid white;
  padding: 0px 15px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 4px;
  line-height: 34px;
}

.hero-large {
  min-height: 32vh;
}

h1 {
  margin: 0;
}

p {
  margin-top: 0.2em;
}
