<ng-container *ngIf="cardType==='api'">
  <ng-container *ngIf="listType==='api'">
      <mat-form-field>
        <mat-icon matPrefix>search</mat-icon>
        <input matInput type="search"
               placeholder="search here"
               class="search-input"
               (input)="inputEvent = OnInput($event)"  >
      </mat-form-field>
  </ng-container>
  <div class="api-card-list">
    <app-api-card *ngFor="let api of apiService.apis;" [api]="api" class="api-card"></app-api-card>
  </div>
  <ng-container *ngIf="listType==='api'">
    <mat-paginator [length]="apiService.totalSize"
                   [pageSize]="apiService.searchCriteria.paging.pageSize"
                   [pageSizeOptions]="[4, 8, 12, 16]"
                   (page)="pageEvent = OnPageChange($event)">
    </mat-paginator>
  </ng-container>
</ng-container>
<ng-container class="plan-card" *ngIf="cardType==='plan'">
  <app-plan-card *ngFor="let plan of plans;" [plan]="plan"></app-plan-card>
</ng-container>
