
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="JBoss Overlord API Management - Service Management">
    <meta name="author" content="JBoss Overlord">

    <title>JBoss Overlord API Management - Organization</title>

    <link href="../bootstrap-3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen"></link>
    <link href="../css/apiman.css" rel="stylesheet" media="screen"></link>

    <script type="text/javascript" src="../jquery-1.10.2/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="../bootstrap-3.0.0/js/bootstrap.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script type="text/javascript" src="../bootstrap-3.0.0/js/html5shiv.js"></script>
      <script type="text/javascript" src="../bootstrap-3.0.0/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">JBoss Overlord API Manager</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a class="lnk-logout" href="#">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
      <div class="row">
        <!-- Left Hand Side -->
        <div class="col-md-4 apiman-entitysummary">
          <div class="container">
            <div class="row">
              <div class="col-md-12 apiman-header">JBoss Overlord</div>
            </div>
            <div class="row">
              <hr />
            </div>
            <div class="row">
              <div class="col-md-12">
                <i class="fa fa-clock-o fa-fw"></i>
                <span class="apiman-label-faded">Created on</span>
                <span>Feb 3, 2011</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <i class="fa fa-users fa-fw"></i>
                <span>12</span>
                <span class="apiman-label-faded">Members</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <i class="fa fa-clock-o fa-fw"></i>
                <span class="apiman-label-faded">Joined on</span>
                <span>Oct 19, 2012</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p class="description">
                  Overlord is the umbrella project that will bring governance to the JBoss SOA Platform and eventually beyond.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- /Left Hand Side -->

        <!-- Center Content -->
        <div class="col-md-8">
          <div class="apiman-usertabs">
            <ul id="usertabs" class="nav nav-tabs">
              <li class="active"><a href="#tab-apps" onclick="$(this).blur()" data-toggle="tab">Applications</a></li>
              <li><a href="#tab-services" onclick="$(this).blur()" data-toggle="tab">Services</a></li>
              <li><a href="#tab-plans" onclick="$(this).blur()" data-toggle="tab">Plans</a></li>
              <li><a href="#tab-members" onclick="$(this).blur()" data-toggle="tab">Members</a></li>
              <li class="pull-right"><a href="#tab-activity" onclick="$(this).blur()" data-toggle="tab">Activity</a></li>
            </ul>
            <div id="usertabsContent" class="tab-content">

              <!-- Applications Tab Content -->
              <div class="tab-pane fade in active" id="tab-apps">
                <div class="apiman-filters apiman-applications-filters">
                  <input type="text" class="form-control input-search" placeholder="Search by application name..."></input>
                  <a href="newApp.html" class="btn btn-primary pull-right">New App</a>
                </div>
                <div class="clearfix"></div>
                <!-- The list of applications the user has access to -->
                <div class="apiman-applications">
                  <div class="container apiman-summaryrow">
                    <div class="row">
                      <span class="title"><a href="appHome.html">gadget-server</a></span>
                      <a href="#" data-toggle="popover" data-trigger="hover" data-html="true" data-content="This application invokes <b>52</b> <em>services</em>." data-placement="top" class="apiman-summaryrow-icon">
                        <div class="icon icon-service"></div>
                        <span class="title-summary-item">52</span>
                      </a>
                    </div>
                    <div class="row">
                      <span class="description">
                        This is a project that builds on the Apache Shindig as the open social gadget containers.
                      </span>
                    </div>
                    <hr/>
                  </div>
                  <div class="container apiman-summaryrow">
                    <div class="row">
                      <span class="title"><a href="appHome.html">rtgov</a></span>
                      <a href="#" data-toggle="popover" data-trigger="hover" data-html="true" data-content="This application invokes <b>11</b> <em>services</em>." data-placement="top" class="apiman-summaryrow-icon">
                        <div class="icon icon-service"></div>
                        <span class="title-summary-item">11</span>
                      </a>
                    </div>
                    <div class="row">
                      <span class="description">
                        This component provides the infrastructure to capture service activity information and
                        then correlate<a href="#" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-html="true" data-content="This component provides the infrastructure to capture service activity information and then correlate, analyse and finally present the information in a form that can be used by a business to police Business/Service Level Agreements, and optimize their business.">...</a>
                      </span>
                    </div>
                    <hr/>
                  </div>
                  <div class="container apiman-summaryrow">
                    <div class="row">
                      <span class="title"><a href="appHome.html">dtgov</a></span>
                      <a href="#" data-toggle="popover" data-trigger="hover" data-html="true" data-content="This application invokes <b>123</b> <em>services</em>." data-placement="top" class="apiman-summaryrow-icon">
                        <div class="icon icon-service"></div>
                        <span class="title-summary-item">123</span>
                      </a>
                    </div>
                    <div class="row">
                      <span class="description">
                        This component provides the capability to manage the lifecycle of systems from inception through deployment through subsequent change management.
                      </span>
                    </div>
                    <hr/>
                  </div>
                  <div class="container apiman-summaryrow">
                    <div class="row">
                      <span class="title"><a href="appHome.html">s-ramp</a></span>
                      <a href="#" data-toggle="popover" data-trigger="hover" data-html="true" data-content="This application invokes <b>5</b> <em>services</em>." data-placement="top" class="apiman-summaryrow-icon">
                        <div class="icon icon-service"></div>
                        <span class="title-summary-item">5</span>
                      </a>
                    </div>
                    <div class="row">
                      <span class="description">
                        This component provides a reference implementation for the SOA Repository Artifact Model &amp; Protocol standard.
                      </span>
                    </div>
                    <hr/>
                  </div>
                </div>
              </div>
              <!-- End Applications Tab Content -->

              <!-- Services Tab Content -->
              <div class="tab-pane fade in" id="tab-services">
                <div class="apiman-filters apiman-services-filters">
                  <input type="text" class="form-control input-search" placeholder="Search by org or service name..."></input>
                  <a href="newService.html" class="btn btn-primary pull-right">New Service</a>
                </div>
                <div class="clearfix"></div>
                <table class="table table-condensed table-hover table-striped">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th width="1%" nowrap="nowrap">Created</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><a class="emphasis" href="serviceHome.html">s-ramp-api</a></td>
                      <td width="1%" nowrap="nowrap">Nov 22, 2012</td>
                    </tr>
                    <tr>
                      <td><a class="emphasis" href="serviceHome.html">dtgov-deploy</a></td>
                      <td width="1%" nowrap="nowrap">Jan 17, 2013</td>
                    </tr>
                    <tr>
                      <td><a class="emphasis" href="serviceHome.html">dtgov-tasks</a></td>
                      <td width="1%" nowrap="nowrap">Jan 18, 2013</td>
                    </tr>
                    <tr>
                      <td><a class="emphasis" href="serviceHome.html">dtgov-notifications</a></td>
                      <td width="1%" nowrap="nowrap">Feb 3, 2012</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- End Services Tab Content -->

              <!-- Plans Tab Content -->
              <div class="tab-pane fade in" id="tab-plans">
                <div class="apiman-filters apiman-plans-filters">
                  <input type="text" class="form-control input-search" placeholder="Search by plan name..."></input>
                  <a href="newPlan.html" class="btn btn-primary pull-right">New Plan</a>
                </div>
                <div class="clearfix"></div>
                <!-- The list of plans in this organization -->
                <div class="apiman-plans">
                  <div class="container apiman-summaryrow">
                    <div class="row">
                      <span class="title"><a href="planHome.html">Platinum</a></span>
                    </div>
                    <div class="row">
                      <span class="description">
                        Provides subscribing applications with full access to the Services in this Organization.
                      </span>
                    </div>
                    <hr/>
                  </div>
                  <div class="container apiman-summaryrow">
                    <div class="row">
                      <span class="title"><a href="planHome.html">Gold</a></span>
                    </div>
                    <div class="row">
                      <span class="description">
                        Provides subscribing applications with full access to a subset of Services.  Also
                        allows partial (rate limited) access to the rest.
                      </span>
                    </div>
                    <hr/>
                  </div>
                  <div class="container apiman-summaryrow">
                    <div class="row">
                      <span class="title"><a href="planHome.html">Silver</a></span>
                    </div>
                    <div class="row">
                      <span class="description">
                        Provides subscribing applications with free, but limited access to all Services in
                        this Organization.
                      </span>
                    </div>
                    <hr/>
                  </div>
                </div>
              </div>
              <!-- End Plans Tab Content -->

              <!-- Members Tab Content -->
              <div class="tab-pane fade in" id="tab-members">
                <div class="apiman-filters apiman-members-filters">
                  <input type="text" class="form-control input-search" placeholder="Search by member name..."></input>
                </div>
                <div class="clearfix"></div>
                <!-- The organization's list of members -->
                <div class="apiman-members">
                  <div class="container apiman-summaryrow">
                    <div class="row">
                      <span class="title"><a href="userHome.html">ewittman</a></span>
                      <a class="apiman-summaryrow-icon">
                        <i class="fa fa-clock-o fa-fw"></i>
                        <span class="title-summary-item">Joined on</span>
                        <span class="title-summary-item">Oct 19, 2012</span>
                      </a>
                    </div>
                    <div class="row">
                      <span class="description">
                        Eric Wittmann
                      </span>
                    </div>
                    <hr/>
                  </div>
                  <div class="container apiman-summaryrow">
                    <div class="row">
                      <span class="title"><a href="userHome.html">gbrown</a></span>
                      <a class="apiman-summaryrow-icon">
                        <i class="fa fa-clock-o fa-fw"></i>
                        <span class="title-summary-item">Joined on</span>
                        <span class="title-summary-item">Oct 21, 2012</span>
                      </a>
                    </div>
                    <div class="row">
                      <span class="description">
                        Gary Brown
                      </span>
                    </div>
                    <hr/>
                  </div>
                </div>
              </div>
              <!-- End Members Tab Content -->

              <!-- Activity Tab Content -->
              <div class="tab-pane fade in" id="tab-activity">
                <div class="apiman-filters apiman-activity-filters">
                  <input type="text" class="form-control input-search" placeholder="Search..."></input>
                </div>
                <div class="clearfix"></div>
                <!-- The user's activity stream -->
                <div class="apiman-activity">
                  <div class="container apiman-summaryrow">
                    <div class="row">
                      <span class=""><a href="userHome.html">Eric Wittmann</a> created application <a href="orgHome.html">JBoss Overlord</a> / <a class="emphasis" href="appHome.html">gadget-server</a>.</span>
                    </div>
                    <div class="row">
                      <div class="icon icon-gear"></div>
                      <div class="apiman-timestamp">2 days ago</div>
                    </div>
                    <hr/>
                  </div>
                  <div class="container apiman-summaryrow">
                    <div class="row">
                      <span class=""><a href="userHome.html">Eric Wittmann</a> created application <a href="orgHome.html">JBoss Overlord</a> / <a class="emphasis" href="appHome.html">dtgov</a>.</span>
                    </div>
                    <div class="row">
                      <div class="icon icon-gear"></div>
                      <div class="apiman-timestamp">2 days ago</div>
                    </div>
                    <hr/>
                  </div>
                  <div class="container apiman-summaryrow">
                    <div class="row">
                      <span class=""><a href="userHome.html">Eric Wittmann</a> created organization <a class="emphasis" href="orgHome.html">JBoss Overlord</a>.</span>
                    </div>
                    <div class="row">
                      <i class="fa fa-shield"></i>
                      <div class="apiman-timestamp">3 days ago</div>
                    </div>
                    <hr/>
                  </div>
                </div>
              </div>
              <!-- End Activity Tab Content -->
              
            </div>
          </div>
        </div>
        <!-- /Center Content -->
        
      </div>
    </div> <!-- /container -->
    <script>
    $("[data-toggle='tooltip']").tooltip();
    $("[data-toggle='popover']").popover();
    </script>
  </body>
</html>
