.toc{
  max-width: 200px;
  font-size: 0.9rem;
  position: sticky;
  padding-left: 1rem;
  ul{
    list-style: none;
    padding-left: 0rem;
    li{
      padding-left: 0.5rem;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  ul:first-child {
    padding-left: 0;
    margin-top: 1rem;
  }
}
