
body {
  padding-top: 70px;
#  color: #0B61A4;
#  color: #1B1BB3;
#  color: #7573D9;

# colors: 3F92D2 0B61A4 25567B 033E6B
# colors: FF9200
}

.emphasis {
  font-weight: bold;
}

.btn-primary {
  background-color: #FF9200;
  border-color: #BF8230;
}
.btn-primary:hover, .btn-primary:focus {
  background-color: #ED8800;
  border-color: #BF8230;
}

.table th {
  color: #666;
}

.navbar-default {
  background-color: #0B61A4;
  border-bottom: 1px solid #FF9200;
  }
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: white;
}
.navbar-default .navbar-nav li a {
  color: white;
}
.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:focus {
  color: #ddd;
}
a, .nav > li > a {
  color: #3F92D2;
  text-decoration: none;
}
a:hover, a:focus, .nav > li > a:hover, .nav > li > a:focus {
  color: #3F92D2;
}
a:hover {
  text-decoration: underline;
}

.apiman-label-faded {
  color: #789;
}
.apiman-label-small {
  font-size: 10px;
}

.apiman-usersummary {
  padding: 5px;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 2px #999;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 10px;
}

.apiman-usersummary .apiman-header {
  font-size: 19px;
  font-weight: bold;
  color: #666;
}

.apiman-usersummary .apiman-subheader {
  font-size: 16px;
  color: #666;
}

.apiman-usersummary hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.apiman-activity .apiman-summaryrow hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.apiman-divider-20 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.apiman-divider-40 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.apiman-divider-80 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.icon {
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: 1px 1px;
}
.icon-email {
  background-image: url(images/envelope.png);
}
.icon-time {
  background-image: url(images/time.png);
}
.icon-user {
  background-image: url(images/user.png);
}
.icon-users {
  background-image: url(images/users.png);
}
.icon-gear {
  background-image: url(images/gear.png);
}
.icon-service {
  background-image: url(images/service.png);
}
.icon-org {
  background-image: url(images/organization.png);
}

.medium-icon {
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: 0px 0px;
}
.medium-icon-service {
  background-image: url(images/medium-service.png);
}
.medium-icon-plan {
  background-image: url(images/medium-plan.png);
}
.medium-icon-gear {
  background-image: url(images/medium-gear.png);
}

.large-icon {
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: 0px 0px;
}
.large-icon-gear {
  background-image: url(images/large-gear.png);
}
.large-icon-service {
  background-image: url(images/large-service.png);
}
.large-icon-plan {
  background-image: url(images/large-plan.png);
}

.apiman-filters {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(221, 221, 221);
  float: left;
  width: 100%;
}

.apiman-filters .input-search {
  width: 300px;
  float: left;
  margin-right: 5px;
}

.apiman-usersummary .icon {
  float: left;
  margin-right: 5px;
  margin-top: 2px;
}

.tab-content {
  margin-top: 10px;
}

.apiman-summaryrow .apiman-summaryrow-icon {
  min-width: 50px;
  float: right;
}

a.apiman-summaryrow-icon {
  color: #444;
  text-decoration: none;
}
a.apiman-summaryrow-icon:hover {
  color: black;
  text-decoration: underline;
}

.apiman-summaryrow .title {
  font-size: 16px;
  font-weight: bold;
}

.apiman-summaryrow .icon {
  float: left;
  margin-top: 3px;
  margin-left: 5px;
}
.apiman-summaryrow .title-summary-item {
  font-size: 12px;
  float: left;
  margin-top: 3px;
  margin-left: 2px;
}

.apiman-members hr {
  margin: 8px;
}

.apiman-timestamp {
  color: #777;
  font-size: 12px;
  margin-left: 3px;
  padding-top: 4px;
  float: left;
}

.apiman-entity-summary {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(221, 221, 221);
}

.apiman-entity-summary .large-icon {
  float: left;
  margin-right: 8px;
}

.apiman-entity-summary .title {
  font-size: 22px;
  padding-top: 8px;
  line-height: 48px;
}

.apiman-entity-nav {
}

.apiman-entity-nav .nav-pills li {
  margin-top: 0px;
}
.apiman-entity-nav .nav-pills li a {
  border-right: 1px solid rgb(221, 221, 221);
  border-radius: 0px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
.apiman-entity-nav .nav-pills li a:hover {
  text-decoration: underline;
}
.apiman-entity-nav .nav-pills li.active a:hover, .apiman-entity-nav .nav-pills li.first a:hover, .apiman-entity-nav .nav-pills li.last a:hover {
  text-decoration: none;
}
.apiman-entity-nav .nav-pills li.active a {
  background-color: white;
  color: rgb(85,85,85);
  border-right: 0px;
}
.apiman-entity-nav .nav-pills li.north a {
  border-bottom: 1px solid rgb(221, 221, 221);
  border-radius: 0px 0px 5px 0px;
}
.apiman-entity-nav .nav-pills li.south a {
  border-top: 1px solid rgb(221, 221, 221);
  border-radius: 0px 5px 0px 0px;
}
.apiman-entity-nav .nav-pills li.first a:hover, .apiman-entity-nav .nav-pills li.last a:hover {
  background-color: white;
}

.apiman-entity-content {
  padding: 10px;
}
.apiman-entity-content .title {
  color: #243446;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}
.apiman-entity-content .description {
  color: #243446;
  margin-bottom: 12px;
}
.apiman-entity-content .icon {
  float: left;
  margin-right: 3px;
  margin-top: 1px;
}

.apiman-entity-content .apiman-app-key {
  cursor: auto;
}

.apiman-entity-content .apiman-timestamp {
  padding-top: 2px;
  margin-left: 1px;
}

.apiman-entity-new .medium-icon {
  float: left;
}

.apiman-entity-new-icon {
  margin-top: 35px;
}

.apiman-entity-new .divider {
  float: left;
  font-size: 22px;
  margin-top: 38px;
  color: #999;
}

.apiman-entity-new dl {
  float: left;
  margin: 10px;
}
.apiman-entity-new dt {
  padding-bottom: 5px;
  color: #555;
}

.apiman-entity-new .entityname {
  width: 300px;
}

.apiman-entity-new .description {
  width: 700px;
}
