<div class="client-container">
  <div class="container-header"><mat-icon>people</mat-icon> Available Clients</div>
  <div
    cdkDropList
    #availableClientList="cdkDropList"
    [cdkDropListData]="availableClients"
    [cdkDropListConnectedTo]="[assignedClientList]"
    class="client-list"
    (cdkDropListDropped)="drop($event)">
    <div class="client-box" *ngFor="let item of availableClients" cdkDrag>{{item.organizationId}}/{{item.clientId}}</div>
    <div class="client-box" id="emptyClientInformation"  *ngIf="availableClients && availableClients.length === 0">No clients there, use API-Mgmt to create some.</div>
  </div>
</div>

<div class="client-container">
  <div class="container-header"><mat-icon>how_to_reg</mat-icon> Assigned Clients</div>
  <div
    cdkDropList
    #assignedClientList="cdkDropList"
    [cdkDropListData]="assignedClients"
    [cdkDropListConnectedTo]="[availableClientList]"
    class="client-list"
    (cdkDropListDropped)="drop($event)">
    <div class="client-box" *ngFor="let item of assignedClients" cdkDrag>{{item.organizationId}}/{{item.clientId}}</div>
    <div id="dragClientInformation" class="client-box" *ngIf="assignedClients && assignedClients.length === 0"><span>Drag&Drop available clients here</span></div>
  </div>
</div>
