.input-form-field {
  width: 150px;
  margin-left: 20px;
}

.wrapper {
  min-width: 150px;
  max-width: 700px;
  width: 100%;
}

#userForm {
  min-height: 130px;
}

// stepper styling
::ng-deep .mat-step-icon {
  background-color: var(--scheer-grey-color-fill) !important;
}
// stepper styling
::ng-deep .mat-step-icon-selected, ::ng-deep .mat-step-icon-state-edit {
  background-color: var(--scheer-bg-color) !important;
}
// stepper styling
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: black!important;
}// stepper styling
::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: black!important;
}
