<h1>Create Developer</h1>
<div class="wrapper">

  <form id="userForm" [formGroup]="userFormGroup">
    <h3>Select User</h3>
    <mat-form-field class="input-form-field">
      <input matInput placeholder="Select or search for an existing user" formControlName="username" [matAutocomplete]="auto"
             (input)="usernameKeyUp.next($event.target.value)" required>
    </mat-form-field>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let user of filteredKeycloakUsers" [value]="user.username">{{user.username}} ({{user.email}})</mat-option>
    </mat-autocomplete>
  </form>

  <h3>Create Client-Mapping</h3>
  <app-client-mapping #clientmapping [assignedClients]="[]"></app-client-mapping>
  <p>
    <button
      [disabled]="!this.checkDeveloperNotExists(this.userFormGroup.get('username').value) || !userFormGroup.valid"
      (click)="insertDeveloper()">Save
    </button>
    <button routerLink="/admin">Cancel</button>
  </p>

  <mat-card class="scheer-box-warning" *ngIf="!this.checkDeveloperNotExists(this.userFormGroup.get('username').value)">
    <mat-icon>warning</mat-icon>
    <div class="scheer-box-content">Developer already exists.</div>
  </mat-card>

</div>
