.input-form-field {
  width: 150px;
  margin-left: 20px;
}

.wrapper {
  min-width: 150px;
  max-width: 650px;
  width: 100%;
}

#userForm {
  min-height: 130px;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: black!important;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: black!important;
}
