.summary {
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 1.24fr auto 2.2fr;
}

.policies {
  display: grid;
  justify-content: space-around;
  gap: 20px;
}

h2, h3 {
  text-align: center;
}

.grid .divider-left {
  margin-bottom: -4rem;
}

.policy-charts-grid{
  display: flex;
  justify-content: space-evenly;
  grid-column-gap: 4rem;
}
