.api-card {
  border-radius: 2px;
  min-width: 24%;
  height: 30%;
  border: 1px solid rgba(0,0,0,0.1);
}

.api-card-header {
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-column-gap: 0.8rem;
}

.api-card-img {
  background-size: cover;
  border-radius: 50%;
  width: 32px;
  height: 32px;

  // for alt attribute
  font-size: 0.6rem;
}

.icon-wrapper{
  margin: auto;
  // border: 1px solid green;
}

.api-card-icon{
  display: flex;
  align-items: center;
  font-size: 30px;
  height: 32px;
}

.api-card-title {
  font-size: 1.2rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 500;
}

.api-card-content {
  padding: 16px;
  height: 4rem;
}

.content-text {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.api-card-button {
  width: 32%;
}

.api-card-actions {
  text-align: center;
  margin-top: 1.6rem;
  margin-bottom: unset;
  button{
    width: fit-content;
  }
}
