<mat-card class="api-card">
  <div class="api-card-header">
    <!-- Show img source if available -->
    <img *ngIf="api.image; else withIcon"
         class="api-card-img"
         alt="api logo"
         [src]="configService.getEndpoint() + '/' + api.image">

    <!-- OR show icon if img not available -->
    <ng-template #withIcon>
      <div class="icon-wrapper"><mat-icon color="primary" class="api-card-icon">api</mat-icon></div>
    </ng-template>

    <div class="api-card-title primary">{{ api.name }}</div>
  </div>
  <mat-card-content class="api-card-content">
    <p class="content-text">{{ api.description }}</p>
  </mat-card-content>
  <div>
    <mat-card-actions class="api-card-actions">
      <a *ngIf="api.docsAvailable"
        [routerLink]="['/swagger', api.organizationId, api.id, api.latestVersion]"
        target="_blank"
      >
        <button
          mat-raised-button
          color="primary"
          class="api-card-button"
        >
          {{ "COMMON.API_DOCS" | translate }}
        </button>
      </a>

      <button
        mat-raised-button
        color="primary"
        class="api-card-button"
        [routerLink]="['/api-details', api.organizationId, api.id]"
      >
        {{ "MPLACE.LEARN_MORE" | translate }}
      </button>
    </mat-card-actions>
  </div>
</mat-card>
