<table *ngIf="developers && developers.length > 0" mat-table matSort [dataSource]="dataSource" matSortActive="id" matSortDirection="asc">
  <!-- Developer ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Developer ID</th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Client Mapping Column -->
  <ng-container matColumnDef="clients">
    <th mat-header-cell *matHeaderCellDef>Client-Mapping</th>
    <td mat-cell *matCellDef="let element">
      <ul>
        <li *ngFor="let client of element.clients">{{client.organizationId}} / {{client.clientId}}</li>
      </ul>
    </td>
  </ng-container>

  <!-- Options Buttons Column -->
  <ng-container matColumnDef="options">
    <th mat-header-cell *matHeaderCellDef>Options</th>
    <td mat-cell *matCellDef="let element">
      <mat-icon [routerLink]="['/admin/edit/developer', element.id]" matTooltip="Edit Client-Mapping for this user">edit</mat-icon>
      <mat-icon (click)="deleteDeveloper(element)" matTooltip="Delete Client-Mapping for this user">delete</mat-icon>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<p>
  <mat-card
    class="scheer-box-info"
    *ngIf="!developers || developers.length === 0">
    <mat-icon>info</mat-icon>
    <div class="scheer-box-content">No developers there, click the button above to create one.</div>
  </mat-card>
</p>
