p {
  text-align: center;
  vertical-align: bottom;
}

.cell-wrapper {
  display: flex;
}

.cell-content {
  padding-top: 4px;
}

.mat-icon {
  z-index: 1;
}

.button, .mat-icon {
  cursor: pointer;
}

table.mat-table {
  width: 50%;
}

ul {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}
