<div class="wrapper">
  <mat-nav-list>
    <mat-list-item *ngFor="let developer of developers">
      {{ developer.name }}
      <span *ngIf="developer.clients.length > 0">(</span>
      <div class="developer-list-client-list" *ngFor="let client of developer.clients"> {{client.organizationId}}
        /{{client.clientId}}</div>
      <span *ngIf="developer.clients.length > 0">)</span>
      <mat-icon [routerLink]="['/admin/edit/developer', developer.id]">edit</mat-icon>
      <mat-icon class="deleteIcon" (click)="deleteDeveloper(developer)">delete</mat-icon>
    </mat-list-item>
  </mat-nav-list>
  <mat-card
    class="info"
    *ngIf="!developers || developers.length === 0">
    <mat-icon>info</mat-icon>
    <div class="box-content">No developers there, click button above to create one.</div>
  </mat-card>
</div>
