.grid{
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 8px;
  grid-row-gap: 32px;
  margin-bottom: 2.2rem;
}

p{
  padding-right: 24px;
}

.mat-form-field{
  margin-left: 16px;
  width: 92%;
}

#try-it-now-btn{
  margin-right: 32px;
  text-align: center;
}

.mat-divider-horizontal{
  position: unset;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
