/* Global Responsive Styles */

/* Huge Desktop */
@media ( min-width : 1900px) {
}

/* Small Desktop */
@media (max-width: 991px) {
  .apiman-entity-nav {
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(221, 221, 221);
  }
  .apiman-entity-nav .nav li.first, .apiman-entity-nav .nav li.last {
    display: none;
  }
  .apiman-entity-nav .nav-pills li a {
    border-right: 1px solid transparent;
    border-radius: 4px 4px 4px 4px;
  }
  .apiman-entity-nav .nav-pills li.active a {
    background-color: rgb(66, 139, 202);
    color: white;
    border-right: 0px none;
    border-radius: 4px 4px 4px 4px;
  }
  .apiman-entity-nav .nav-pills li.north a {
    border-radius: 4px 4px 4px 4px;
  }
  .apiman-entity-nav .nav-pills li.south a {
    border-radius: 4px 4px 4px 4px;
  }
  
  .apiman-entity-new .description {
    width: 500px;
  }
  
  .apiman-no-entities-arrow {
    display: none;
    visibility: hidden;
  }
}

/* Mobile */
@media ( max-width : 767px) {
  div.page {
    margin-top: 5px;
  }
  
  .apiman-entity-new {
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .apiman-entitysummary {
    border: 0px;
    border-bottom: 1px solid rgb(221, 221, 221);
    box-shadow: none;
  }
  
  .nav-tabs li {
    float: none;
  }
  .nav-tabs li.pull-right {
    float: none !important;
  }
  .nav-tabs li a {
    border-radius: 4px 4px 4px 4px;
  }
  .nav-tabs li.active a {
    border-color: transparent;
    border-bottom-color: transparent;
    background-color: rgb(66, 139, 202);
    color: white;
  }
  .nav-tabs li.active a:hover {
    border-color: transparent;
    border-bottom-color: transparent;
    background-color: rgb(66, 139, 202);
    color: white;
  }
}

/* Smart Phones */
@media ( max-width : 480px) {
  .apiman-filters .input-search {
    width: 220px;
  }
  .apiman-entity-new .description {
    width: 300px;
  }
  .apiman-entity-new .medium-icon {
    display: none;
  }
}

/* Original iPhone */
@media ( max-width : 360px) {
  .apiman-filters .input-search {
    width: 180px;
  }
}
