
body {
}

.emphasis {
  font-weight: bold;
}

.dropdown-menu li a:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);
}

.btn-primary {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  border: solid #1e7db8 1px;
}
.btn-primary:hover, .btn-primary:focus {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  border: solid #51a8db 1px;
}
.btn-primary[disabled], .btn-primary.disabled, .btn-primary[disabled]:focus, .btn-primary.disabled:focus {
  background: #9d9d9d;
  background-image: -webkit-linear-gradient(top, #9d9d9d, #888888);
  background-image: -moz-linear-gradient(top, #9d9d9d, #888888);
  background-image: -ms-linear-gradient(top, #9d9d9d, #888888);
  background-image: -o-linear-gradient(top, #9d9d9d, #888888);
  background-image: linear-gradient(to bottom, #9d9d9d, #888888);
  border: solid #999999 1px;
}

.table th {
  color: #666;
}

.navbar-default {
  background-color: #0B61A4;
  border-bottom: 1px solid #FF9200;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: white;
}
.navbar-default .navbar-nav li a {
  color: white;
}
.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:focus {
  color: #ddd;
}
a, .nav li a {
  color: #3F92D2;
  text-decoration: none;
}
a:hover, a:focus, .nav li a:hover, .nav li a:focus {
  color: #3F92D2;
}
a:hover {
  text-decoration: underline;
}

#page-loading {
  width: 100%;
  padding: 38px;
  text-align: center;
}

#page-loading .center {
  display: inline-block;
  height: 33px;
  font-size: 18px;
  padding-left: 35px;
  padding-top: 4px;
  background-image: url(images/page-spinner.gif);
  background-position: left top;
  background-repeat: no-repeat;
}

div.page {
  margin-top: 20px;
}

.apiman-label-faded {
  color: #789;
}
.apiman-label-small {
  font-size: 10px;
}

.apiman-entitysummary {
  padding: 5px;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 2px #999;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 10px;
}

.apiman-entitysummary .apiman-header {
  font-size: 19px;
  font-weight: bold;
  color: #666;
}

.apiman-entitysummary .apiman-subheader {
  font-size: 16px;
  color: #666;
}

.apiman-entitysummary hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.apiman-activity .apiman-summaryrow hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.apiman-divider-20 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.apiman-divider-40 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.apiman-divider-80 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.icon {
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: 1px 1px;
}
.icon-email {
  background-image: url(images/envelope.png);
}
.icon-time {
  background-image: url(images/time.png);
}
.icon-user {
  background-image: url(images/user.png);
}
.icon-users {
  background-image: url(images/users.png);
}
.icon-app {
  background-image: url(images/app.png);
}
.icon-service {
  background-image: url(images/service.png);
}
.icon-org {
  background-image: url(images/organization.png);
}

.medium-icon {
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: 0px 0px;
}
.medium-icon-org {
  background-image: url(images/medium-org.png);
}
.medium-icon-service {
  background-image: url(images/medium-service.png);
}
.medium-icon-plan {
  background-image: url(images/medium-plan.png);
}
.medium-icon-app {
  background-image: url(images/medium-app.png);
}

.large-icon {
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: 0px 0px;
}
.large-icon-app {
  background-image: url(images/large-app.png);
}
.large-icon-service {
  background-image: url(images/large-service.png);
}
.large-icon-plan {
  background-image: url(images/large-plan.png);
}

.apiman-filters {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(221, 221, 221);
  float: left;
  width: 100%;
}

.apiman-filters .input-search {
  width: 300px;
  float: left;
  margin-right: 5px;
}

.apiman-entitysummary .icon {
  float: left;
  margin-right: 5px;
  margin-top: 2px;
}

.tab-content {
  margin-top: 10px;
}

.apiman-summaryrow .apiman-summaryrow-icon {
  min-width: 50px;
  float: right;
}

a.apiman-summaryrow-icon {
  color: #444;
  text-decoration: none;
}
a.apiman-summaryrow-icon:hover {
  color: black;
  text-decoration: underline;
}

.apiman-summaryrow .title {
  font-size: 16px;
  font-weight: bold;
}

.apiman-summaryrow .icon {
  float: left;
  margin-top: 3px;
  margin-left: 5px;
}
.apiman-summaryrow .title-summary-item {
  font-size: 12px;
  float: left;
  margin-top: 3px;
  margin-left: 2px;
}

.apiman-members hr {
  margin: 8px;
}

.apiman-timestamp {
  color: #777;
  font-size: 12px;
  margin-left: 3px;
  padding-top: 4px;
  float: left;
}

.apiman-entity-summary {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(221, 221, 221);
}

.apiman-entity-summary .large-icon {
  float: left;
  margin-right: 8px;
}

.apiman-entity-summary .title {
  font-size: 22px;
  padding-top: 8px;
  line-height: 48px;
}

.apiman-entitysummary .description {
  padding-top: 15px;
}

.apiman-entity-nav {
}

.apiman-entity-nav .nav-pills li {
  margin-top: 0px;
}
.apiman-entity-nav .nav-pills li a {
  border-right: 1px solid rgb(221, 221, 221);
  border-radius: 0px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
.apiman-entity-nav .nav-pills li a:hover {
  text-decoration: underline;
}
.apiman-entity-nav .nav-pills li.active a:hover, .apiman-entity-nav .nav-pills li.first a:hover, .apiman-entity-nav .nav-pills li.last a:hover {
  text-decoration: none;
}
.apiman-entity-nav .nav-pills li.active a {
  background-color: white;
  color: rgb(85,85,85);
  border-right: 0px;
}
.apiman-entity-nav .nav-pills li.north a {
  border-bottom: 1px solid rgb(221, 221, 221);
  border-radius: 0px 0px 5px 0px;
}
.apiman-entity-nav .nav-pills li.south a {
  border-top: 1px solid rgb(221, 221, 221);
  border-radius: 0px 5px 0px 0px;
}
.apiman-entity-nav .nav-pills li.first a:hover, .apiman-entity-nav .nav-pills li.last a:hover {
  background-color: white;
}

.apiman-entity-content {
  padding: 10px;
}
.apiman-entity-content .title {
  color: #243446;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}
.apiman-entity-content .description {
  color: #243446;
  margin-bottom: 12px;
}
.apiman-entity-content .icon {
  float: left;
  margin-right: 3px;
  margin-top: 1px;
}

.apiman-entity-content .apiman-input-ro {
  cursor: auto;
}

.apiman-entity-action {
  margin-top: 5px;
  margin-left: 5px;
}

.apiman-entity-content .apiman-timestamp {
  padding-top: 2px;
  margin-left: 1px;
}

.apiman-entity-new {
  margin-top: 30px;
}

.apiman-entity-new .medium-icon {
  float: left;
}

.apiman-entity-new-icon {
  margin-top: 35px;
}

.apiman-entity-new .divider {
  float: left;
  font-size: 22px;
  margin-top: 38px;
  color: #999;
}

.apiman-entity-new dl {
  float: left;
  margin: 10px;
}
.apiman-entity-new dt {
  padding-bottom: 5px;
  color: #555;
}

.apiman-entity-new .entityname {
  width: 300px;
}

.apiman-entity-new .description {
  width: 700px;
}

.error-page {
  margin-top: 30px;
}

.error-page {
  margin-top: 30px;
}
.error-page .title {
  font-size: 18px;
  font-weight: bold;
}
.error-page .description {
  font-size: 14px;
  color: #444;
}
.error-page .header {
  font-size: 14px;
  font-weight: bold;
  text-decoration: underline;
}
.error-page .errorMessage {
  width: 100%;
  cursor: auto;
  margin-top: 5px;
}
.error-icon {
  width: 128px;
  height: 128px;
  background-repeat: no-repeat;
  background-position: top left;
}
.error-403 {
  background-image: url(images/error-403.png);
}
.error-404 {
  background-image: url(images/error-404.png);
}
.error-500 {
  background-image: url(images/error-500.png);
}