<div class="grid">
  <div>
    <h4>{{ "APPS.DISABLE_API" | translate }}</h4>
    <p>{{ mockText }}</p>
  </div>
  <div class="card">
    <div class="card-content mat-elevation-z2">
      <div class="card-header bg-color-coral">
        <p class="card-title">{{ "APPS.DISABLE_THIS_API" | translate }}</p>
      </div>
      <p>{{ mockText.substring(1, 120) }}</p>
      <button mat-raised-button class="disable-btn bg-color-coral">
        {{ "APPS.DISABLE_API" | translate }}
      </button>
    </div>
  </div>
</div>

<mat-divider></mat-divider>

<div class="grid mt-15">
  <div>
    <h4>{{ "APPS.UNSUB_FROM_API" | translate }}</h4>
    <p>{{ mockText }}</p>
  </div>
  <div class="card">
    <div class="card-content mat-elevation-z2">
      <div class="card-header bg-color-darkred">
        <p class="card-title">{{ "APPS.UNSUB_FROM_THIS_API" | translate }}</p>
      </div>
      <p>{{ mockText.substring(1, 120) }}</p>
      <button mat-raised-button class="disable-btn bg-color-darkred">
        {{ "APPS.UNSUB" | translate }}
      </button>
    </div>
  </div>
</div>
