/* You can add global styles to this file, and also import other style files */
@import '../../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';
@import './material-icons.scss';

:root {
  --scheer-bg-color:                     #06618e; /*Mittelblau*/

  --scheer-button-bg:                    #2996cc;
  --scheer-button-border-color:          #2996cc;

  --scheer-button-hover-color:           #06628e;
  --scheer-button-focus-color:           #06628e;

  --alert-color-hover:                   #ac1e1c;

  --scheer-grey-color-fill:              #bab6b9;
  --scheer-color-green:                  #0F9D58;
  --scheer-lightorange:                  #ffa500;
  --scheer-color-red:                    #CF303A;

  --branding-message-error:              var(--scheer-color-red);
  --branding-message-warn:               var(--scheer-lightorange);
  --branding-message-success:            var(--scheer-color-green);
  --branding-message-info:               var(--scheer-grey-color-fill);

  --branding-status-active:              var(--scheer-color-green);
  --branding-status-inactive:            var(--scheer-lightorange);
  --branding-status-retired:             var(--scheer-grey-color-fill);
}

body {
  background: white;
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  color: #06618E;
}

h1 {
  font-size: 20pt;
  font-weight: 300;
}

h4 {
  color: black;
}

button {
  color: #fff;
  background-color: var(--scheer-button-bg);
  display: inline-block;
  margin-bottom: 0;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 0;

  margin-left: 10px;
}

button:first-child {
  margin-left: 0px;
}

button:focus {
  color: #fff;
  text-decoration: none;
  background-color: var(--scheer-button-focus-color);
  border-color: transparent;
}

button:hover {
  color: #fff;
  text-decoration: none;
  background-color: var(--scheer-button-hover-color);
  border-color: transparent;
}

button[disabled], button[disabled], button[disabled]:hover{
  background-color: #ffffff;
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  box-shadow: none;
}

button[disabled], button[disabled], button[disabled]:hover {
  background-color: #ffffff;
  border-color: var(--scheer-button-border-color);
  color: var(--scheer-button-bg);
}

mat-card {
  display: flex !important;
  color: white !important;
  border-radius: 0 !important;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  opacity: 0.75 !important;
}

.scheer-box-warning {
  background-color: var(--branding-message-warn);
}

.scheer-box-info {
  background-color: var(--branding-message-info);
}

.scheer-box-content {
  padding-left: 5px;
  padding-top: 3px;
}
