<div id="center">
  <mat-stepper #stepper linear>
    <mat-step
      label="{{ 'WIZARD.FIRST_STEP_LABEL' | translate }}"
      [completed]="selectedClients.size >= 1"
    >
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{
            "WIZARD.FIRST_STEP_TITLE" | translate
          }}</mat-card-title>
        </mat-card-header>
        <mat-card-content class="mat-card-header-text">
          <app-marketplace-client-app
            (selectedClients)="checkApplications($event)"
          ></app-marketplace-client-app>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions class="right">
          <button
            mat-raised-button
            color="primary"
            matStepperNext
            (click)="nextAfterClientSelect()"
          >
            {{ "COMMON.NEXT" | translate }}
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-step>
    <mat-step
      *ngIf="termsEnabled"
      label="{{ 'WIZARD.SECOND_STEP_LABEL' | translate }}"
      [completed]="agreedTermsAndPrivacy"
    >
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{
            "WIZARD.SECOND_STEP_TITLE" | translate
          }}</mat-card-title>
        </mat-card-header>
        <mat-card-content class="mat-card-header-text">
          <app-marketplace-api-terms
            (agreedTermsAndPrivacy)="checkTerms($event)"
          ></app-marketplace-api-terms>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions class="right">
          <button
            mat-raised-button
            matStepperNext
            color="primary"
            (click)="nextAfterTermsAgreed()"
          >
            {{ "COMMON.NEXT" | translate }}
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-step>
    <mat-step label="{{ 'WIZARD.THIRD_STEP_LABEL' | translate }}">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{
            "WIZARD.THIRD_STEP_TITLE" | translate
          }}</mat-card-title>
        </mat-card-header>
        <mat-card-content class="mat-card-header-text">
          <app-my-apps-use-api></app-my-apps-use-api>
          <h4>Policies</h4>
          <!--In this version we will not have more than 2 policies-->
          <div class="policies">
            <ng-container *ngFor="let policy of newContractDetails.policies">
              <app-policy-card [policy]="policy"></app-policy-card>
            </ng-container>
          </div>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions class="right">
          <button
            mat-raised-button
            (click)="createContract(stepper)"
            color="primary"
          >
            {{ "COMMON.CONFIRM" | translate }}
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-step>
    <mat-step label="{{ 'WIZARD.FORTH_STEP_LABEL' | translate }}">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{
            "WIZARD.FORTH_STEP_TITLE" | translate
          }}</mat-card-title>
        </mat-card-header>
        <mat-card-content class="mat-card-header-text">
          <app-my-apps-use-api [contract]="contract"></app-my-apps-use-api>
          <h3>Policies</h3>
          <!--In this version we will not have more than 2 policies-->
          <div class="policies" *ngIf="newContractDetails.policies">
            <app-policy-card
              *ngFor="let policy of newContractDetails.policies"
              [policy]="policy"
            ></app-policy-card>
          </div>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions class="right">
          <button mat-raised-button color="primary" (click)="finish()">
            {{ "COMMON.FINISH" | translate }}
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-step>
  </mat-stepper>
</div>
