.right {
  display: flex;
  justify-content: flex-end;
}

mat-stepper {
  // TODO: Media Query for small screens
  width: 62vw;
}

#center {
  display: flex;
  justify-content: center;
  align-items: center;
}
