<div class="table-actions">
  <div [class.primary]="activeSection === sections.unread">
    <button mat-button (click)="setActiveSection(sections.unread)">
      {{ 'NOTIFICATION.STATUS.UNREAD' | translate }}
    </button>
  </div>
  <div [class.primary]="activeSection === sections.read">
    <button mat-button (click)="setActiveSection(sections.read)">
      {{ 'NOTIFICATION.STATUS.READ' | translate }}
    </button>
  </div>
  <div [class.primary]="activeSection === sections.all">
    <button mat-button (click)="setActiveSection(sections.all)">
      {{ 'NOTIFICATION.STATUS.ALL' | translate }}
    </button>
  </div>
</div>

<table
  *ngIf="
    notifications.length > 0 && !loadingSpinnerService.waiting;
    else no_notifications
  "
  mat-table
  [dataSource]="dataSource">
  <ng-container matColumnDef="Category">
    <th mat-header-cell *matHeaderCellDef>
      {{ 'NOTIFICATION.COLUMN_TITLE.CATEGORY' | translate }}
    </th>
    <td mat-cell *matCellDef="let notification">
      {{ mapNotificationCategory(notification.category) }}
    </td>
  </ng-container>
  <ng-container matColumnDef="Message">
    <th mat-header-cell *matHeaderCellDef>
      {{ 'NOTIFICATION.COLUMN_TITLE.MESSAGE' | translate }}
    </th>
    <td mat-cell *matCellDef="let notification">
      <span
        class="notifications-message"
        (click)="redirectToClient(notification)"
        >{{ mapNotificationMessage(notification) }}</span
      >
    </td>
  </ng-container>
  <ng-container matColumnDef="Date">
    <th mat-header-cell *matHeaderCellDef>
      {{ 'NOTIFICATION.COLUMN_TITLE.DATE' | translate }}
    </th>
    <td mat-cell *matCellDef="let notification">
      {{ convertTimestamp(notification.createdOn) }}
    </td>
  </ng-container>
  <ng-container matColumnDef="Action">
    <th mat-header-cell *matHeaderCellDef>
      {{ 'NOTIFICATION.COLUMN_TITLE.ACTION' | translate }}
    </th>
    <td mat-cell *matCellDef="let notification">
      <button
        *ngIf="notification.status === 'OPEN'"
        mat-icon-button
        class="notifications-actions"
        color="primary"
        (click)="markNotificationAsRead(notification.id)">
        <mat-icon>done</mat-icon>
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<ng-template #no_notifications>
  <div *ngIf="!loadingSpinnerService.waiting" class="no-data-wrapper">
    <app-no-data
      [text]="'NOTIFICATION.NO_DATA' | translate"
      [textClass]="'text-big2'">
    </app-no-data>
  </div>
</ng-template>
