<div *ngIf="listType === 'api'" class="align">
  <mat-form-field>
    <mat-icon matPrefix color="primary">search</mat-icon>
    <input
      matInput
      type="search"
      [placeholder]="'MPLACE.SEARCH' | translate"
      class="search-input"
      value="{{this.searchTerm}}"
      (input)="OnInput($event)"
    />
  </mat-form-field>
</div>
<ng-container *ngIf="totalSize === 0">
  <h2 class="align">
    {{'COMMON.NO_DATA_FOUND' | translate}}
  </h2>
</ng-container>
<ng-container *ngIf="ready">
  <div id="grid">
    <app-api-card
      *ngFor="let api of apis"
      [api]="api"
      class="api-card"
    ></app-api-card>
  </div>
</ng-container>
<div *ngIf="listType === 'api' && totalSize > searchCriteria.paging.pageSize" class="align">
  <mat-paginator
    [length]="totalSize"
    [pageSize]="searchCriteria.paging.pageSize"
    [pageSizeOptions]="[4, 8, 12, 16, totalSize]"
    (page)="OnPageChange($event)"
  >
  </mat-paginator>
</div>
