.align {
  display: flex;
  justify-content: center;
  align-items: center;
}

#grid {
  margin-top: 2%;
  margin-bottom: 2%;
  display: grid;
  justify-content: center;
  align-items: end;
  grid-template-columns: repeat(auto-fit, 370px);
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}

@media screen and (max-width: 1745px) {
  #grid {
    grid-template-columns: repeat(auto-fit, 320px);
  }
}

@media screen and (max-width: 1495px) {
  #grid {
    grid-template-columns: repeat(auto-fit, 300px);
  }
}
