<mat-form-field *ngIf="terms" appearance="fill">
  <mat-label>Licence Type</mat-label>
  <textarea
    cdkAutosizeMaxRows="20"
    cdkAutosizeMinRows="1"
    cdkTextareaAutosize
    disabled
    matInput
    >{{ terms }}</textarea
  >
</mat-form-field>

<mat-card class="mb-20" id="terms-card">
  <mat-card-title>{{ 'COMMON.AGREEMENT' | translate }}</mat-card-title>
  <mat-card-content>
    <p>
      <mat-checkbox
        (change)="onClick()"
        [(ngModel)]="acceptedTerms"
        color="primary">
        <span>{{ 'TERMS.PREFIX' | translate }}</span>
        <a [href]="termsLink" class="primary" target="_blank">{{'TERMS.LINK_TEXT' | translate}}</a>
        <span>{{ 'TERMS.SUFFIX' | translate }}</span>
      </mat-checkbox>
    </p>
    <p>
      <mat-checkbox
        (change)="onClick()"
        [(ngModel)]="acceptedPrivacyTerms"
        color="primary">
        <span>{{ 'PRIVACY.PREFIX' | translate }}</span>
        <a [href]="termsLink" class="primary" target="_blank">{{'PRIVACY.LINK_TEXT' | translate}}</a>
        <span>{{ 'PRIVACY.SUFFIX' | translate }}</span>
      </mat-checkbox>
    </p>
  </mat-card-content>
</mat-card>
