<mat-form-field appearance="fill">
  <mat-label>Licence Type</mat-label>
  <textarea
    cdkAutosizeMaxRows="20"
    cdkAutosizeMinRows="1"
    cdkTextareaAutosize
    disabled
    matInput
    >{{ terms }}</textarea
  >
</mat-form-field>

<mat-card class="mb-20" id="terms-card">
  <mat-card-title>Agreement</mat-card-title>
  <mat-card-content>
    <p>
      <mat-checkbox color="primary" [(ngModel)]="acceptedTerms" (change)="onClick()"
        >I agree to the
        <a [href]="termsLink">terms and conditions</a></mat-checkbox
      >
    </p>
    <p>
      <mat-checkbox color="primary" [(ngModel)]="acceptedPrivacyTerms" (change)="onClick()"
        >I accept the <a [href]="privacyLink">privacy policy</a></mat-checkbox
      >
    </p>
  </mat-card-content>
</mat-card>
