.content-container
  padding: 20px 84px

// Header: 32vh
// Content Padding Top + Bottom: 40px
// Footer Height: 40px
.fixed-height
  min-height: calc(68vh - 40px - 40px)
  height: 100%

// Header: 19vh
// Content Padding Top + Bottom: 40px
// Footer Height: 40px
.free-height
  min-height: calc(81vh - 40px - 40px)

#navigation
  text-align: center
