@import '../../node_modules/angular2-toaster/src/toaster';

.router-outlet-wrapper {
  padding-left: 235px;
  padding-top: 70px;
  padding-right: 40px;
}

#pas-header {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

#menu-spacer {
  background-color: var(--scheer-bg-color);
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 60px;
  width: 200px;
  box-shadow: 0px 1px 1px 2px rgba(230,230,230,1);
}

:host ::ng-deep #toast-container {
  margin-top: 70px;
}

:host ::ng-deep #toast-container > div
{
  border-radius: 0;
  box-shadow: 0 0 3px #999999;
  cursor: default;
}

#spinner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.2); /*dim the background*/
}

mat-spinner {
  position: fixed;
  top: 45%;
  left: 45%;
}

:host ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: var(--alert-color-hover);
}
