.router-outlet-wrapper {
  padding-left: 110px;
  padding-top: 70px;
}

#pas-header {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

#menu-spacer {
  background-color: var(--e2e-bg-color);
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 60px;
  width: 75px;
  box-shadow: 0px 1px 1px 2px rgba(230,230,230,1);
}
