<mat-expansion-panel [expanded]="isLatest">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Version {{ api.version }} of {{ api.api.name }}
      <strong *ngIf="isLatest" class="latest">[latest]</strong>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div id="content-header">
    <span id="icon">
      <img
        mat-card-avatar
        alt="Logo"
        src="https://github.com/apiman/apiman/raw/master/manager/ui/war/plugins/api-manager/img/about-logo.png"
      />
    </span>
    <p id="shortDescription">{{ markdown.substr(0,240) }}</p>
  </div>

  <mat-grid-list cols="4" rowHeight="1:1">
    <mat-grid-tile colspan="3" id="long-description-tile">
      <div class="box" data-simplebar>
        <markdown [data]="markdown"></markdown>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
      <div class="box" id="key-features">
        <h1>Key Features</h1>
        <mat-list>
          <!--To-Do-->
          <!--Use features of API instead of hard-coded value-->
          <mat-list-item *ngFor="let feature of features">
            <mat-icon matListIcon>folder</mat-icon>
            <span>{{ feature }}</span>
          </mat-list-item>
        </mat-list>
        <button
          mat-raised-button
          id="docs-button"
          [disabled]="
            !(api.definitionType !== null && api.definitionType !== 'None')
          "
          [routerLink]="[
            '/swagger',
            api.api.organization!.id,
            api.api.id,
            api.version
          ]"
        >
          API Docs
        </button>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <h2 id="plans-header">Plans</h2>
  <app-plan-card-list></app-plan-card-list>
</mat-expansion-panel>
