<mat-card>
  <mat-card-header>
    <img mat-card-avatar alt="Logo" src={{api.icon}}>
    <mat-card-title>{{api.title}}</mat-card-title>
    <mat-card-subtitle>{{api.shortDescription}}</mat-card-subtitle>
  </mat-card-header>
</mat-card>

<mat-grid-list cols="3" rowHeight="1:1">
  <mat-grid-tile colspan="2" class="grid-content">
    <div class="box">
      <markdown [data]="api.longDescription"></markdown>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" class="grid-content">
    <mat-divider [vertical]="true"></mat-divider>
    <div class="box">
      <h1>Key Features</h1>
      <mat-list>
        <!--To-Do-->
        <!--Use features of API instead of hard-coded value-->
        <mat-list-item *ngFor="let feature of features">
          <mat-icon matListIcon>folder</mat-icon>
          <span>{{feature}}</span>
        </mat-list-item>
      </mat-list>
      <button mat-raised-button id="docs-button">API Docs</button>
    </div>
  </mat-grid-tile>
</mat-grid-list>
