.box{
  max-height: 50vh;
  padding-left: 1%;
  padding-right: 1%;
}

mat-panel-title {
  font-size: 1.3em;
  justify-content: space-between;
  #latest-tag {
    margin-left: 0.3rem;
  }
}

#content-header {
  display: grid;
  margin: 1.0rem 0 1.4rem;
  align-items: center;
  grid-template-columns: 44px 1fr;
  grid-column-gap: 16px;
}

mat-grid-list {
  margin-bottom: 2em;
}

#long-description-tile {
  border: 1px solid rgba(0,0,0,0.2);
  background: rgba(0,0,0,0.02);
}

#key-features {
  margin-left: 2em;
}

#docs-button{
  border: 1px solid rgba(0,0,0,0.2);
  float: right;
}

#plans-header {
  margin: unset;
}

.mat-expansion-panel-header.mat-expanded,
.mat-expansion-panel-header.mat-expanded:hover,
.mat-expansion-panel-header.mat-expanded:focus {
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0,0,0,0.12);
}

.mat-expansion-panel-header.mat-expanded{
  background-color: rgba(0, 0, 0, 0.04) !important;
}

.md-and-features{
  display: grid;
  grid-column-gap: 40px;
  grid-template-columns: 3.6fr 1fr;
}

.md-only{
  width: unset;
}
