.is-selected {
  background: whitesmoke;
  font-weight: bold;
}

.container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 5fr;
  width: 30%;
  grid-column-gap: 1rem;
}

table {
  min-width: 30%;
}
