.is-selected {
  background: whitesmoke;
  font-weight: bold;
}

.container {
  display: grid;
  justify-items: start;
}

table {
  min-width: 50%;
  margin-top: 20px;
}


//#add-button {
//  margin-left: 20px;
//}
