<div class="container">
  <form>
    <mat-form-field>
      <mat-label>{{ "COMMON.SEARCH" | translate }}</mat-label>
      <input
        matInput
        [(ngModel)]="clientName"
        name="input"
        (keyup)="applyFilter($event)"
      />
    </mat-form-field>
  </form>
  <button mat-raised-button color="primary" class="ml-20" (click)="addClient()">
    {{ "COMMON.CREATE" | translate }}
  </button>
</div>

<p class="primary">{{ "CLIENT_CREATE.SELECT" | translate }}</p>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z2 mt-20 mb-20">
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Application Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns"
    (click)="selectClient(row)"
    [class.is-selected]="clickedRows.has(row)"
  ></tr>
</table>
