
$navbar-bg-color: #c8c9cc;
$navbar-color: #6a747f;

:host {
  background: $navbar-bg-color;
  display: flex;

  padding: 19px;
  color: $navbar-color;
}

nav {
  width: 100%;
}

#header-icon {
  padding-right: 5px;
}

.logo {
  height: 20px;
  width: 170px;
}

.rightMenu {
  float:right;
}

#app-header{
  float:right;
  margin-top: 3px;
}
