<div class="summary">
  <div class="endpoints">
    <div class="api-endpoint">
      <div>
        <mat-icon class="form-field-pre-icon" color="primary">public</mat-icon>
      </div>
      <div>
        <mat-form-field>
          <input matInput readonly value="{{ contract!.managedEndpoint }}" />
          <button
            [cdkCopyToClipboard]="contract!.managedEndpoint"
            mat-icon-button
            matSuffix
            class="input-icon-btn">
            <mat-icon color="primary">content_copy</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
    <div class="api-key">
      <div>
        <mat-icon class="form-field-pre-icon" color="primary">vpn_key</mat-icon>
      </div>
      <div>
        <mat-form-field>
          <input matInput readonly value="{{ contract!.client.apikey }}" />
          <button
            [cdkCopyToClipboard]="contract!.client.apikey"
            mat-icon-button
            matSuffix
            class="input-icon-btn">
            <mat-icon class="input-icon-btn" color="primary"
              >content_copy</mat-icon
            >
          </button>
        </mat-form-field>
      </div>
    </div>
    <div class="auth-endpoint" *ngIf="hasOAuth">
      <div>
        <mat-icon class="form-field-pre-icon" color="primary">public</mat-icon>
      </div>
      <div>
        <mat-form-field>
          <input
            matInput
            readonly
            value="https://localhost:4200/authentication" />
          <button
            [cdkCopyToClipboard]="''"
            mat-icon-button
            matSuffix
            class="input-icon-btn">
            <mat-icon class="input-icon-btn" color="primary"
              >content_copy</mat-icon
            >
          </button>
        </mat-form-field>
      </div>
    </div>
    <div class="auth-key" *ngIf="hasOAuth">
      <div>
        <mat-icon class="form-field-pre-icon" color="primary">vpn_key</mat-icon>
      </div>
      <div>
        <mat-form-field>
          <input matInput readonly value="fer87)/9&9gdea" />
          <button
            [cdkCopyToClipboard]="''"
            mat-icon-button
            matSuffix
            class="input-icon-btn">
            <mat-icon class="input-icon-btn" color="primary"
              >content_copy</mat-icon
            >
          </button>
        </mat-form-field>
      </div>
    </div>
    <div class="view-docs" *ngIf="contract && contract.docsAvailable">
      <a
        [routerLink]="[
          '/swagger',
          contract.api.api.organization.id,
          contract.api.api.id,
          contract.api.version
        ]"
        target="_blank">
        <button mat-raised-button color="primary">
          {{ 'COMMON.API_DOCS' | translate }}
        </button>
      </a>
    </div>
  </div>
  <div class="grid-divider"><div></div></div>
  <div
    *ngIf="
      contract!.policies.length > 0 && contract!.policies[0].probe;
      else noPolicies
    "
    class="policies">
    <ng-container *ngFor="let policy of contract!.policies">
      <app-policy-card-light
        [policy]="policy"
        [contract]="contract"
        (sectionChanged)="sectionChanged($event)"></app-policy-card-light>
    </ng-container>
  </div>

  <!-- No policies found for this API -->
  <ng-template #noPolicies>
    <app-no-data
      class="dp-center"
      [textClass]="'text-big2'"
      [text]="'APPS.NO_POLICIES_FOR_API' | translate"></app-no-data>
  </ng-template>
</div>
