<ng-container *ngIf="plans.length > 0">
  <h2 class="primary mt-rem-3">{{ 'API_DETAILS.PLANS' | translate }}</h2>
</ng-container>
<div id="plan-grid">
  <ng-container *ngFor="let plan of plans">
    <div class="plan-card mat-elevation-z2">
      <div class="card-header">
        <div class="card-header-title primary text-big1">
          {{ plan.planName }}
        </div>
        <div class="card-header-content">{{ plan.planDescription }}</div>
      </div>
      <div class="card-content" [ngSwitch]="plan.planId + ':' + plan.version">
        <mat-list>
          <ng-container *ngIf="apiPolicies.length > 0">
            <mat-list-item *ngFor="let policy of apiPolicies">
              <p>
                {{ policy.shortName }}
                <span class="right">{{ policy.shortDescription }}</span>
              </p>
            </mat-list-item>
            <mat-divider></mat-divider>
          </ng-container>
          <ng-container *ngFor="let planPolicies of planPoliciesMap | keyvalue">
            <ng-container *ngSwitchCase="planPolicies.key">
              <mat-list-item *ngFor="let policy of planPolicies.value">
                <p>
                  {{ policy.shortName }}
                  <span class="right">{{ policy.shortDescription }}</span>
                </p>
              </mat-list-item>
            </ng-container>
          </ng-container>
        </mat-list>
      </div>
      <div class="plan-card-actions">
        <div>
          <mat-divider></mat-divider>
          <button
            class="sign-up-button"
            mat-raised-button
            color="primary"
            (click)="onSignUp(plan)">
            {{ 'API_DETAILS.SIGN_UP' | translate }}
          </button>
        </div>
      </div>
    </div>
  </ng-container>
</div>
