#plan-grid {
  margin-right: 2%;
  display: grid;
  justify-content: space-between;
  align-items: flex-start;
  grid-template-columns: repeat(auto-fit, 420px);
  grid-column-gap: 16px;
  grid-row-gap: 32px;
}

@media screen and (max-width: 1745px) {
  #grid {
    grid-template-columns: repeat(auto-fit, 370px);
  }
}

@media screen and (max-width: 1495px) {
  #grid {
    grid-template-columns: repeat(auto-fit, 350px);
  }
}

mat-card-actions {
  text-align: center;
  margin-bottom: unset;
}

p {
  width: 100%;
}

.right{
  float: right;
}

.plan-card{
  width: 100%;
  border: 1px solid rgba(0,0,0,0.1);
}

.card-header {
  justify-content: center
}

.card-header-content {
  text-align: center;
}

#sign-up-button {
  width: 50%;
}

