#plan-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 360px);
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}

@media screen and (max-width: 1745px) {
  #grid {
    grid-template-columns: repeat(auto-fit, 370px);
  }
}

@media screen and (max-width: 1495px) {
  #grid {
    grid-template-columns: repeat(auto-fit, 350px);
  }
}

p {
  width: 100%;
}

.right{
  float: right;
}

.plan-card{
  display: flex;
  flex-direction: column;
}

.card-header {
  text-align: center;
}

.card-header-title {
  margin: 0.8rem 0 0.4rem 0;
  font-weight: 500;
}

.plan-card-actions{
  margin-top: auto;
  text-align: center;
}

.sign-up-button{
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}
