<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0">

  <filter>
    <filter-name>GWTCacheControl</filter-name>
    <filter-class>org.overlord.commons.gwt.server.filters.GWTCacheControlFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>GWTCacheControl</filter-name>
    <url-pattern>/app/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>ResourceCacheControl</filter-name>
    <filter-class>org.overlord.commons.gwt.server.filters.ResourceCacheControlFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ResourceCacheControl</filter-name>
    <url-pattern>/css/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ResourceCacheControl</filter-name>
    <url-pattern>/images/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ResourceCacheControl</filter-name>
    <url-pattern>/js/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>LocaleFilter</filter-name>
    <filter-class>org.overlord.commons.i18n.server.filters.LocaleFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LocaleFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>ConfigurationJS</servlet-name>
    <servlet-class>io.apiman.manager.ui.server.servlets.ConfigurationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfigurationJS</servlet-name>
    <url-pattern>/js/configuration.nocache.js</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>TokenRefresh</servlet-name>
    <servlet-class>io.apiman.manager.ui.server.servlets.TokenRefreshServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TokenRefresh</servlet-name>
    <url-pattern>/rest/tokenRefresh</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>FetchProxy</servlet-name>
    <servlet-class>io.apiman.manager.ui.server.servlets.UrlFetchProxyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchProxy</servlet-name>
    <url-pattern>/proxies/fetch</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>io.apiman.manager.ui.server.wildfly8.KeyCloakLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>apiman-manager</web-resource-name>
      <url-pattern>*.html</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>apiuser</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>apiman</realm-name>
  </login-config>
  <security-role>
    <role-name>apiuser</role-name>
  </security-role>

</web-app>