
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="JBoss Overlord API Management - Application">
    <meta name="author" content="JBoss Overlord">

    <title>JBoss Overlord API Management - Application</title>

    <link href="../bootstrap-3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen"></link>
    <link href="../css/apiman.css" rel="stylesheet" media="screen"></link>

    <script type="text/javascript" src="../jquery-1.10.2/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="../bootstrap-3.0.0/js/bootstrap.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script type="text/javascript" src="../bootstrap-3.0.0/js/html5shiv.js"></script>
      <script type="text/javascript" src="../bootstrap-3.0.0/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">JBoss Overlord API Manager</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a class="lnk-logout" href="#">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
      <!-- Entity Summary Row -->
      <div class="row">
        <div class="col-md-12 apiman-entity-summary">
          <div class="title">
            <div class="large-icon large-icon-gear"></div>
            <span class="">
              <a href="orgHome.html">JBoss Overlord</a>
            </span>
            <span> / </span>
            <span class="emphasis">
              <a href="appHome.html">gadget-server</a>
            </span>
          </div>
        </div>
      </div>
      
      <!-- Navigation + Content Row -->
      <div class="row">
        <!-- Left hand nav -->
        <div class="col-md-2 apiman-entity-nav">
          <ul class="nav nav-pills nav-stacked">
            <li class="first north"><a>&nbsp;</a></li>
            <li class="active"><a>Overview</a></li>
            <li class="south"><a href="appHome-svcRefs.html">Service Refs</a></li>
            <li><a href="appHome-policies.html">Policies</a></li>
            <li><a href="appHome-requests.html">Requests</a></li>
            <li class="last"><a>&nbsp;</a></li>
          </ul>
        </div>
        <!-- /Left hand nav -->

        <!-- Content -->
        <div class="col-md-10 apiman-entity-content">
          <!-- Content Summary (left side) -->
          <div class="col-md-6">
            <div class="title">Summary</div>
            <div class="description">This is a project that builds on the Apache Shindig as the open social gadget containers.</div>
            <div>
              <div class="icon icon-time"></div>
              <span class="apiman-label-faded">Created on</span>
              <span>Feb 3, 2011</span>
            </div>
            <div>
              <div class="icon icon-user"></div>
              <span class="apiman-label-faded">Created by</span>
              <span><a href="userHome.html">Eric Wittmann</a></span>
            </div>
            <div class="apiman-divider-40"></div>
            <div class="title">Application Key</div>
            <div>
              <input class="form-control apiman-app-key" type="text" readonly="readonly" value="78v2378ynv4378nv547n8v46n9786n87967n65987n6b89n7397n36b"></input>
            </div>
            <div class="apiman-divider-40"></div>
          </div>
          <!-- /Content Summary (left side) -->
          
          <!-- Activity -->
          <div class="col-md-6">
            <div class="title">Activity</div>
            <div class="apiman-activity">
              <div class="container apiman-summaryrow">
                <div class="row">
                  <span class=""><a href="userHome.html">Eric Wittmann</a> updated application <a href="orgHome.html">JBoss Overlord</a> / <a class="emphasis" href="appHome.html">gadget-server</a>.</span>
                </div>
                <div class="row">
                  <div class="icon icon-gear"></div>
                  <div class="apiman-timestamp">2 days ago</div>
                </div>
                <hr/>
              </div>
              <div class="container apiman-summaryrow">
                <div class="row">
                  <span class=""><a href="userHome.html">Eric Wittmann</a> created application <a href="orgHome.html">JBoss Overlord</a> / <a class="emphasis" href="appHome.html">gadget-server</a>.</span>
                </div>
                <div class="row">
                  <div class="icon icon-gear"></div>
                  <div class="apiman-timestamp">3 days ago</div>
                </div>
                <hr/>
              </div>
            </div>
          </div>
          <!-- /Activity -->

        </div>
        <!-- /Content -->
      </div>
    </div> <!-- /container -->
    <script>
    $("[data-toggle='tooltip']").tooltip();
    $("[data-toggle='popover']").popover();
    </script>
  </body>
</html>
