
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="JBoss Overlord API Management - New Service">
    <meta name="author" content="JBoss Overlord">

    <title>JBoss Overlord API Management - New Service</title>

    <link href="../bootstrap-3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen"></link>
    <link href="../css/apiman.css" rel="stylesheet" media="screen"></link>

    <script type="text/javascript" src="../jquery-1.10.2/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="../bootstrap-3.0.0/js/bootstrap.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script type="text/javascript" src="../bootstrap-3.0.0/js/html5shiv.js"></script>
      <script type="text/javascript" src="../bootstrap-3.0.0/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">JBoss Overlord API Manager</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a class="lnk-logout" href="#">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container apiman-entity-new">
      <!-- Choose org and service name -->
      <div class="row">
        <div class="medium-icon medium-icon-service apiman-entity-new-icon"></div>
        <dl>
          <dt>Organization</dt>
          <dd>
            <div class="btn-group">
              <button type="button" id="selector-org" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span id="selector-org-value" class="apiman-label-faded">Select Organization</span> &nbsp;&nbsp;<span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#" onclick="$('#selector-org-value').text('JBoss Overlord'); $('#apiman-servicename').focus()">JBoss Overlord</a></li>
                <li><a href="#" onclick="$('#selector-org-value').text('Apereo Bedework'); $('#apiman-servicename').focus()">Apereo Bedework</a></li>
              </ul>
            </div>
          </dd>
        </dl>
        <span class="divider">/</span>
        <dl class="name">
          <dt>Service Name</dt>
          <dd>
            <input type="text" class="form-control servicename" id="apiman-servicename" placeholder="Enter service name..."></input>
          </dd>
        </dl>
      </div>
      <!-- Helpful hint -->
      <div class="row">
        <span class="apiman-label-faded">Note: the Organization and Service Name will be incorporated into the service's endpoint URL.</span>
      </div>
      <!-- Description of service -->
      <div class="row">
        <div class="apiman-divider-40"></div>
        <div class="medium-icon"></div>
        <dl>
          <dt>Description</dt>
          <dd>
            <input type="text" class="form-control description" id="apiman-description" placeholder="Enter description (optional)..."></input>
          </dd>
        </dl>
      </div>
      <!-- HR -->
      <div class="row">
        <hr/>
      </div>
      <!-- Add Button -->
      <div class="row">
        <a href="serviceHome.html" class="btn btn-primary">Create Service</a>
      </div>
    </div> <!-- /container -->
    <script>
    $("[data-toggle='tooltip']").tooltip();
    $("[data-toggle='popover']").popover();
    </script>
  </body>
</html>
