<div class="chart mat-elevation-z2" *ngIf="gaugeData">
  <h3 class="chart-header primary">{{ gaugeData.name }}</h3>
  <mat-divider></mat-divider>
  <div class="ngx-wrapper">
    <ngx-charts-gauge
      [results]="data"
      [legend]="legend"
      [max]="gaugeData.limit!"
      [legendPosition]="legendPosition"
      [scheme]="colorScheme"
      [view]="[380, 256]"
      [valueFormatting]="disableValueLabel"
    >
    </ngx-charts-gauge>
  </div>

  <div class="info-icon">
    <mat-icon class="material-icons-outlined" [inline]="true" color="primary">{{icon}}</mat-icon>
  </div>

  <div class="infos">
    <div class="text2">{{gaugeData.infoHeader}}</div>
    <div class="text-big1">
      {{ gaugeData.currentVal }} {{gaugeData.dividendSuffix}} / <span class="primary">{{ gaugeData.limit }} {{ gaugeData.divisorSuffix}}</span>
    </div>
    <div class="text1">
      <mat-divider></mat-divider>
      <span>{{gaugeData.bottomText}}</span>
    </div>
  </div>
</div>
