<div class="chart mat-elevation-z2">
  <h3 class="chart-header primary">{{ gaugeData.name }}</h3>
  <mat-divider></mat-divider>
  <div class="ngx-wrapper">
    <ngx-charts-gauge
      [results]="data"
      [legend]="legend"
      [max]="gaugeData.limit"
      [legendPosition]="legendPosition"
      [scheme]="colorScheme"
      [view]="[380, 256]"
      [valueFormatting]="disableValueLabel"
    >
    </ngx-charts-gauge>
  </div>

  <div class="info-icon">
    <mat-icon [inline]="true" color="primary">{{icon}}</mat-icon>
  </div>

  <div class="infos">
    <div class="text2">{{gaugeData.infoHeader}}</div>
    <div class="text-big3 letter-spacing">{{ currentValue }} / <span class="primary">{{ gaugeData.limit }}</span></div>
    <div class="info-bottom text-big1">
      <mat-divider></mat-divider>
      <span>{{ percentage }}% used</span>
    </div>
  </div>
</div>
