<mat-card *ngIf="policy">
  <mat-card-header>
    <mat-icon mat-card-avatar color="primary">{{ policy.icon }}</mat-icon>
    <mat-card-title>{{
      "POLICIES." + policy.policyIdentifier + ".TITLE" | translate
    }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p [innerHTML]="'POLICIES.' + policy.policyIdentifier + '.DESCRIPTION' | translate:policy.restrictions"></p>
    <p>{{ "POLICIES." + policy.policyIdentifier + ".MORE_INFO" | translate }}</p>
    <ul>
      <li>
        <b>{{ policy.headers.headerLimit }}:</b>
        {{ "POLICIES." + policy.policyIdentifier + ".LIMIT" | translate }}
      </li>
      <li>
        <b>{{ policy.headers.headerRemaining }}:</b>
        {{ "POLICIES." + policy.policyIdentifier + ".REMAINING" | translate }}
      </li>
      <li>
        <b>{{ policy.headers.headerReset }}:</b>
        {{ "POLICIES." + policy.policyIdentifier + ".RESET" | translate }}
      </li>
    </ul>
  </mat-card-content>
</mat-card>
