<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2022. Black Parrot Labs Ltd
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<module name="com.mysql" xmlns="urn:jboss:module:1.9">
  <resources>
    <resource-root path="mysql-connector-j-${version.mysql.jdbc.driver}.jar"/>
  </resources>

  <dependencies>
    <module name="java.compiler"/>
    <module name="java.desktop"/>
    <module name="java.instrument"/>
    <module name="java.logging"/>
    <module name="java.management"/>
    <module name="java.naming"/>
    <module name="java.scripting"/>
    <module name="java.sql"/>
    <module name="javax.api"/>
    <module name="javax.transaction.api"/>
    <module name="javax.servlet.api" optional="true"/>
    <module name="org.slf4j"/>
  </dependencies>
</module>
