/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
  background: #F0F0F0;
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}
