.app-header{
  display: grid;
  align-items: center;
  grid-template-columns: 65px 6fr 3.4fr;
  grid-column-gap: 22px;
}

.app-icon-wrapper{
  width: 65px;
  height: 65px;
}

.client-icon{
  font-size: 65px;
}

.app-title{
  margin: 0;
}

.app-api{
  margin-top: 3rem;
  display: grid;
  justify-content: space-between;
  align-items: start;
  grid-template-columns: auto 11fr;
  grid-column-gap: 0px;
  grid-row-gap: 32px;
}

.app-api-menu{
  margin-top: 1.6rem;
  margin-right: 1rem;
  div{
    padding: 8px;
    margin-bottom: 1.4rem;
    span{
      cursor: pointer;
    }
  }
}

.active{
  cursor: default !important;
}

.app-api-menu-entry{
  // color: red;
}

.app-api-content{
  margin-right: 1rem;
  padding-bottom: 1rem ;
}

.app-api-header{
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 44px 8fr 8fr;
  grid-column-gap: 16px;
  margin: 0.4rem 1rem 1rem 1rem;
}

.app-api-header-icon-wrapper{
  justify-content: center;
  margin-left: 1rem;
  max-width: 100%;
  overflow: hidden;
  width: 48px;
}

.app-api-header-labels, .app-client-header-label{
  white-space: nowrap;
  text-align: right;
  span{
    margin-left: 8px;
    padding: 4px 8px;
    color: white;
  }
  span:last-child{
    margin-right: 0;
  }
}

.api-section{
  margin-left: 2rem;
  margin-right: 2rem;
}

.wrapper{
  display: flex;
  align-items: flex-start;
  column-gap: 1.4rem;
  .first{
    flex: 7;
  }
  .second{
    flex: 1;
    top: 0px;
    position: sticky;
  }
}

.client-card{
  padding-top: 6px;
  padding-bottom: 1.6rem;
}
