<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  version="2.5">

  <!-- Authentication Filter -->
  <filter>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>org.overlord.apiman.common.servlet.AuthenticationFilter</filter-class>
    <init-param>
      <param-name>signatureRequired</param-name>
      <param-value>false</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- Locale Filter -->
  <filter>
    <filter-name>LocaleFilter</filter-name>
    <filter-class>org.overlord.commons.i18n.server.filters.LocaleFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LocaleFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- CORS Filter -->
  <filter>
    <filter-name>CorsFilter</filter-name>
    <filter-class>org.overlord.commons.gwt.server.filters.SimpleCorsFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CorsFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- Security Context Filter -->
  <filter>
    <filter-name>SecurityContext</filter-name>
    <filter-class>org.overlord.apiman.dt.api.security.impl.DefaultSecurityContextFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SecurityContext</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>apiman</web-resource-name>
      <url-pattern>/dummy/*</url-pattern>
    </web-resource-collection>
  </security-constraint>

  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>Overlord</realm-name>
  </login-config>

</web-app>