@import '../../../node_modules/@angular/material/theming';
@include mat-core();

:root {
  --red: rgba(208, 50, 55, 1);
  --red-80: rgba(208, 50, 55, .8);
  --red-60: rgba(208, 50, 55, .6);
  --red-40: rgba(208, 50, 55, .4);
  --red-20: rgba(208, 50, 55, .2);

  --blue: rgba(41, 150, 204, 1);
  --blue-80: rgba(41, 150, 204, .8);
  --blue-60: rgba(41, 150, 204, .6);
  --blue-40: rgba(41, 150, 204, .4);
  --blue-20: rgba(41, 150, 204, .2);

  --grey: rgba(186, 182, 185, 1);
  --grey-80: rgba(186, 182, 185, .8);
  --grey-60: rgba(186, 182, 185, .6);
  --grey-40: rgba(186, 182, 185, .4);
  --grey-20: rgba(186, 182, 185, .2);

  --white: rgba(255, 255, 255, 1);

  --dark-red: rgba(172, 30, 28, 1);
  --dark-red-80: rgba(172, 30, 28, .8);
  --dark-red-60: rgba(172, 30, 28, .6);
  --dark-red-40: rgba(172, 30, 28, .4);
  --dark-red-20: rgba(172, 30, 28, .2);

  --dark-blue: rgba(5, 97, 141, 1);
  --dark-blue-80: rgba(5, 97, 141, .8);
  --dark-blue-60: rgba(5, 97, 141, .6);
  --dark-blue-40: rgba(5, 97, 141, .4);
  --dark-blue-20: rgba(5, 97, 141, .2);

  --dark-grey: rgba(106, 116, 127, 1);
  --dark-grey-80: rgba(106, 116, 127, .8);
  --dark-grey-60: rgba(106, 116, 127, .6);
  --dark-grey-40: rgba(106, 116, 127, .4);
  --dark-grey-20: rgba(106, 116, 127, .2);

  --black: rgba(0, 0, 0, 1);
  --black-80: rgba(0, 0, 0, .8);
  --black-60: rgba(0, 0, 0, .6);
  --black-40: rgba(0, 0, 0, .4);
  --black-20: rgba(0, 0, 0, .2);
}

$custom-blue: (
  50: var(--blue-20),
  100: var(--blue-20),
  200: var(--blue-40),
  300: var(--blue-60),
  400: var(--blue-80),
  500: var(--blue),
  600: var(--dark-blue-40),
  700: var(--dark-blue-60),
  800: var(--dark-blue-80),
  900: var(--dark-blue),
  A100: var(--blue-40),
  A200: var(--blue-60),
  A400: var(--blue-80),
  A700: var(--blue),
  contrast: (
    50: var(--white),
    100: var(--white),
    200: var(--white),
    300: var(--white),
    400: var(--white),
    500: var(--white),
    600: var(--white),
    700: var(--white),
    800: var(--white),
    900: var(--white),
    A100: var(--white),
    A200: var(--white),
    A400: var(--white),
    A700: var(--white),
  )
);

$custom-red: (
  50: var(--red-20),
  100: var(--red-20),
  200: var(--red-40),
  300: var(--red-60),
  400: var(--red-80),
  500: var(--red),
  600: var(--dark-red-40),
  700: var(--dark-red-60),
  800: var(--dark-red-80),
  900: var(--dark-red),
  A100: var(--red-40),
  A200: var(--red-60),
  A400: var(--red-80),
  A700: var(--red),
  contrast: (
    50: var(--white),
    100: var(--white),
    200: var(--white),
    300: var(--white),
    400: var(--white),
    500: var(--white),
    600: var(--white),
    700: var(--white),
    800: var(--white),
    900: var(--white),
    A100: var(--white),
    A200: var(--white),
    A400: var(--white),
    A700: var(--white),
  )
);

$custom-grey: (
  50: var(--grey-20),
  100: var(--grey-20),
  200: var(--grey-40),
  300: var(--grey-60),
  400: var(--grey-80),
  500: var(--grey),
  600: var(--dark-grey-40),
  700: var(--dark-grey-60),
  800: var(--dark-grey-80),
  900: var(--dark-grey),
  A100: var(--grey-40),
  A200: var(--grey-60),
  A400: var(--grey-80),
  A700: var(--grey),
  contrast: (
    50: var(--black-60),
    100: var(--black-60),
    200: var(--black-60),
    300: var(--black-60),
    400: var(--black-60),
    500: var(--black-60),
    600: var(--black-80),
    700: var(--black-80),
    800: var(--black-80),
    900: var(--black-80),
    A100: var(--black-80),
    A200: var(--black-80),
    A400: var(--black-80),
    A700: var(--black-80),
  )
);

$primary-palette: mat-palette($custom-blue);
$accent-palette: mat-palette($custom-grey);
$warn-palette: mat-palette($custom-red);

$theme-custom: mat-light-theme($primary-palette,$accent-palette, $warn-palette);
