@import '../../../node_modules/@angular/material/theming';
@include mat-core();

$primary-palette: mat-palette($mat-indigo);
$accent-palette: mat-palette($mat-pink);
$warn-palette: mat-palette($mat-lime);

$theme: mat-light-theme($primary-palette, $accent-palette, $warn-palette);
