name: Verify Build Workflow
on:
  push:
    paths-ignore:
      - '.gitignore'
      - 'LICENSE'
      - 'README*'
      - 'CODE_OF_CONDUCT*'
    branches: [master]
  pull_request:
    paths-ignore:
      - '.github/**'
      - '.gitignore'
      - 'LICENSE'
      - 'README*'
      - 'CODE_OF_CONDUCT*'
    branches: [master]

jobs:
  build-verify:
    name: Verify Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ 8, 11, 15 ]
    if: github.repository_owner == 'Apiman'
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}
      - name: Build Project
        run: mvn clean install -Dinvoker.skip -Dmaven.javadoc.skip=true -Dmvn.skip.test=true -DskipTests=true -T1C -B
      - name: Run Tests (Servlet ES)
        run: mvn test install -Dinvoker.skip -Dmaven.javadoc.skip=true -B -Dapiman-test.type=es -Dapiman.gateway-test.config=servlet-es
      - name: Run Tests (Vert.x 3 Mem)
        run: mvn test install -Dinvoker.skip -Dmaven.javadoc.skip=true -B -Dapiman.gateway-test.config=vertx3-mem
      - name: Run Tests (Vert.x 3 ES)
        env:
          ELASTICSEARCH_VERSION: $(mvn help:evaluate -Dexpression=version.org.elasticsearch -q -DforceStdout) 
        run: |
          docker run -d -p 19250:9200 -p 9300:9300 -e "discovery.type=single-node" --name=elasticsearch-7 docker.elastic.co/elasticsearch/elasticsearch-oss:${{ env.ELASTICSEARCH_VERSION }}
          mvn test install -Dinvoker.skip -Dmaven.javadoc.skip=true -B -Dapiman.gateway-test.config=vertx3-es
          docker stop elasticsearch-7 && docker rm elasticsearch-7
      - name: Run Tests (Vert.x 3 File)
        run: mvn test install -Dinvoker.skip -Dmaven.javadoc.skip=true -B -Dapiman.gateway-test.config=vertx3-file
      - name: Run Tests (AMG 1)
        run: mvn test install -Dinvoker.skip -Dmaven.javadoc.skip=true -B -Dapiman.gateway-test.config=amg-1
      - name: Build and Publish Docker Images
        if: github.ref == 'refs/heads/master'
        run: |
          mvn clean package docker:build -P docker -DskipTests
          echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
          docker push apiman/on-wildfly:latest
